openapi: 3.0.0
info:
  title: Rapyd OpenAPI
  description: "This is a release of the OpenAPI specification for Rapyd's API methods.\
    \ It is recommended to initially run the methods in the sandbox environment. For\
    \ the most up-to-date documentation of Rapyd's methods, see the [online API Reference](https://docs.rapyd.net/en/api-reference.html).\
    \ <BR> For required signature, see [Request Signatures](https://docs.rapyd.net/en/request-signatures.html)."
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.23
servers:
- url: https://sandboxapi.rapyd.net/
  description: Sandbox server
- url: https://api.rapyd.net/
  description: Production server
tags:
- name: Payment Method Type
  description: A type of payment method that a customer can use for making payments.
- name: Payment
  description: Collects money from a payment method and deposits it into one or more
    Rapyd Wallets.
- name: Checkout Page
  description: Defines a customer-facing page that collects personal identifying information
    (PII) from the customer and creates a payment.
- name: Subscription
  description: "Rapyd provides the ability to create payments automatically every\
    \ month or other defined interval. This is called a subscription, and it has the\
    \ following prerequisites:<BR>* A customer profile with a payment method.<BR>*\
    \ One or more products of type service.<BR>* One or more plans that describe the\
    \ charges for services covered by the subscription."
- name: Subscription.Product
  description: A product or service for use with Rapyd Collect.
- name: Subscription.Plan
  description: Pricing structure for a single product of type service.
- name: Subscription.Subscription Item
  description: A product of type **service** that is charged to the customer periodically.
- name: Subscription.Invoice
  description: Contains a list of charges from a subscription and defines when the
    payment is due.
- name: Subscription.Invoice Item
  description: Represents one product of type **services** that is assigned to an
    invoice or a subscription.
- name: Payment Link
  description: Reuse a hosted payment page.<BR> A customer uses the payment link to
    open a hosted payment page. The customer provides required information and submits
    the payment on a Rapyd Checkout page.
- name: Payment.Card Token
  description: "Represents a card payment method that is stored in a customer profile.<BR>Sensitive\
    \ personal identifying information (PII) is stored in Rapyd's vault.<BR> The client\
    \ can use the token wherever a payment method is required, such as creating a\
    \ payment, subscription or invoice."
- name: Group Payment
  description: Collects money from multiple payment methods.<BR>A group payment consolidates
    2 to 10 individual payments into a single transaction.
- name: Escrow
  description: "Hold collected funds temporarily in an escrow.<BR>When you collect\
    \ funds from a customer, you can place the funds temporarily in an escrow instead\
    \ of paying them immediately to the payees."
- name: Refund
  description: "Full or partial refund of a payment.<BR>When the payment status is\
    \ CLO (closed), you can refund all or part of the money collected."
- name: Digital Wallet
  description: Information on supported digital wallet providers such as Apple Pay
    and Google Pay.
- name: Dispute
  description: A dispute is made against a specific payment.<BR>The disputed amount
    cannot exceed the amount of the payment.
- name: Customer
  description: "Customer profile, where payment methods are stored for future use."
- name: Payment.Address
  description: "Describes the address of a customer.<BR>The `address` object can be\
    \ added to the `Customer`, `Payment Method`, and Wallet `Contact` objects."
- name: Customer Payment Method
  description: Describes a payment method that has been saved to a customer profile.
- name: SKU
  description: A single item of physical inventory.<BR>The SKU is attached to a product
    where type is **goods**. <BR>An SKU is a prerequisite for an order.
- name: Order
  description: A single order of goods.
- name: Order.Return
  description: Represents a return of an order of goods.
- name: Coupon
  description: "Defines a discount on charges to the customer.The coupon can be applied\
    \ to the `Subscription`, `Customer`, and `Order` objects."
- name: Disburse.Payout Method Type
  description: Information about payout method types you can assign to beneficiaries
    (payees).<BR>A payout method type is a type of payout method that the client can
    use to pay money out of the Rapyd wallet.
- name: Disburse
  description: "Disbursement transactions.<BR> The source of a payout is a Rapyd Wallet.\
    \ To create a payout, you must first:<BR>* Find payout methods available in the\
    \ country of the beneficiary (payee).<BR>* Find the fields required for the payout\
    \ method you want."
- name: Disburse.Payout Beneficiary
  description: "Defines the beneficiary (payee) of a payout.<BR> When you create a\
    \ payout, you can include a fully populated `beneficiary` object or the ID of\
    \ a beneficiary."
- name: Disburse.Payout Sender
  description: "Defines the sender (payer) of a payout. <BR>When you create a payout,\
    \ you can include a fully populated `sender` object or the ID of a sender."
- name: Disburse.Upload Documents
  description: <BR>* Upload one supporting document file or multiple document files
    to a specific payout.<BR>* Retrieve and delete documents that have been uploaded.
- name: Disburse.Card Eligibility
  description: Provides additional information on the eligibility of cards for specific
    types of payout transactions.
- name: eWallet.Transaction
  description: Transfers between wallets and balances and limits of the accounts within
    the wallet.<BR>Transactions are generated by calls to the Rapyd API or by internal
    operations in the Rapyd system.
- name: eWallets
  description: "An eWallet represents a single Rapyd Wallet for a client, business,\
    \ or consumer.<BR>The Rapyd Wallet is the focus of all financial operations. Payments\
    \ are made into the wallet, payouts are made from the wallet and settlements to\
    \ the client's own bank account are made from the wallet."
- name: eWallet.Contact
  description: A personal or business contact for a Rapyd Wallet.<BR>The wallet contact
    describes a person who has rights to use the wallet.
- name: Issuing
  description: The Rapyd Issuing platform provides bank cards funded by the Rapyd
    Wallet.
- name: Issuing.Simulations
  description: Simulate third-party issuing related responses in the sandbox.
- name: Virtual Accounts
  description: Bank account number(s) issued to a Rapyd Wallet.<BR>The virtual account
    can receive funds from any bank using the bank’s own tools. A wallet can have
    multiple virtual accounts.
- name: Localization Methods
  description: "Resource methods for countries, currencies, languages and FX rates."
- name: Webhook Methods
  description: Methods related to resending webhooks.
- name: Verify
  description: Methods related to verifying an identity as part of the Know Your Business
    (KYB) or Know Your Customer (KYC) verification process.
- name: Card Network Lookup Service
  description: Investigate a potential new merchant for experience with acquirers.<BR>The
    Card Network Lookup Service (CNLS) provides information about the prior credit
    card experience of a potential new merchant.
paths:
  /v1/payment_methods/countries/{countryId}:
    get:
      tags:
      - Payment Method Type
      summary: List Payment Methods by Country
      description: Retrieve a list of all payment methods available for a country.
        You fdn filter the results by specifying the `currency` query parameter.
      externalDocs:
        description: Learn more about operations provided by this API
        url: https://docs.rapyd.net/en/list-payment-methods-by-country.html
      operationId: getPaymentMethodsTypesByCountry
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: countryId
        in: path
        description: Two-letter ISO 3166-1 ALPHA-2 code for the country. Uppercase.
        required: true
        style: simple
        explode: false
        schema:
          $ref: "#/components/schemas/Country_1"
      - name: currency
        in: query
        description: Three-letter ISO 4217 code for the currency.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200"
        "400":
          description: Bad Request. Country value is not recognized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payment_methods/{type}/required_fields:
    get:
      tags:
      - Payment Method Type
      summary: Get Payment Method Required Fields
      description: Retrieve the required fields for a payment method. The fields are
        returned as a list of objects. The name of each field appears in the `name`
        field of the response.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/get-payment-method-required-fields.html
      operationId: getPaymentMethodTypeRequiredFields
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: path
        description: The `type` of the payment method.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        "400":
          description: Bad Request. Payment method is not recognized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_1"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payments:
    get:
      tags:
      - Payment
      summary: List Payments
      description: Retrieve a list of all payments that you have created. Filter the
        list with query parameters.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-payments.html
      operationId: listPayments
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: created_after
        in: query
        description: The ID of the payment created before the first payment you want
          to retrieve. String starting with **payment_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: created_before
        in: query
        description: The ID of the payment created after the last payment you want
          to retrieve. String starting with **payment_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: customer
        in: query
        description: Filters the list for payments related to the specified customer.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: cus_753511a533a727cf28509812b4683edd
      - name: destination_card
        in: query
        description: Filters the list for payments related to the specified destination
          card.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the payment created after the last payment you want
          to retrieve. String starting with **payment_**. Deprecated.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ewallet
        in: query
        description: Filters the list for payments related to the specified wallet.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ewallet_61be0e6ad9f57121cff47a63902282ac
      - name: group
        in: query
        description: "When **true**, includes only group payments in the response.\
          \ <BR>When **false** (default), excludes group payments from the response."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: invoice
        in: query
        description: Filters according to the invoice. String starting with **invoice_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of payments to return. Range, 1-100. Default\
          \ is 50."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 2
      - name: payment_method
        in: query
        description: Filters the list for payments related to the specified payment
          method.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: us_mastercard_card
      - name: order
        in: query
        description: Filters the list for payments related to the specified order.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: starting_after
        in: query
        description: The ID of the payment created before the first payment you want
          to retrieve. String starting with **payment_**. Deprecated.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: subscription
        in: query
        description: Filters the list for payments related to the specified subscription.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: merchant_reference_id
        in: query
        description: "Identifier defined by the client for reference purposes. Limit:\
          \ 45 characters."
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_2"
        "400":
          description: Bad Request. Query parameter has an invalid value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_2"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Payment
      summary: Create Payment
      description: Create a payment
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/en/create-payment.html
      operationId: createPayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1_payments_body"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        "400":
          description: Bad Request. Payment method not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_3"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payments/{paymentId}:
    get:
      tags:
      - Payment
      summary: Retrieve Payment
      description: Retrieve details of a payment
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-payment.html
      operationId: retrievePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with **payment_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_bebddc4b4139d5a0f13cdcd4046cf2c1
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        "400":
          description: Bad Request. Payment not found for given ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_4"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Payment
      summary: Update Payment
      description: "Capture some or all of a card payment that was previously authorized\
        \ with `capture` set to **false**.<BR>This method changes the `payment` object\
        \ status to **CLO** and triggers 'Payment Captured Webhook'. This webhook\
        \ contains the same information as the response. This method also triggers\
        \ 'Payment Completed Webhook'. The capture operation is also known as clearing\
        \ or completion.<BR>The scope of the capture operation depends on the client's\
        \ pre-authorization permissions. To change these permissions, contact Rapyd\
        \ Client Support."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-payment.html
      operationId: updatePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with **payment_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_36724a4ea01b438fd24ac3ab00b29150
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/payments_paymentId_body"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        "400":
          description: Status does not allow updates.
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_UPDATE_PAYMENT
                    message: "The request tried to update a payment, but the status\
                      \ of the payment does not allow updates. The request was rejected.\
                      \ Corrective action: None. Determine why an attempt was made\
                      \ to change the payment when the 'status' was not 'ACT'."
                    operation_id: fbc7054e-4493-4f01-b62e-788f189f9c0f
                    response_code: ERROR_UPDATE_PAYMENT
                    status: ERROR
    delete:
      tags:
      - Payment
      summary: Cancel Payment
      description: "Cancel a payment where the status of the payment is ACT. Relevant\
        \ to payment methods where is_cancelable = true in the response to List Payment\
        \ Methods by Country. This method triggers the Payment Canceled webhook. This\
        \ webhook contains the same information as the response. NOTE: If the status\
        \ is CLO, use the Create Refund method."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/cancel-payment.html
      operationId: cancelPayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with payment_.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_548969fc5a0bf89da3cec70a1529338c
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        "400":
          description: Bad Request. Payment not found or closed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_5"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payments/{paymentId}/capture:
    post:
      tags:
      - Payment
      summary: Capture Payment
      description: "Capture some or all of a card payment that was previously authorized\
        \ with `capture` set to **false**.<BR>This method changes the `payment` object\
        \ status to **CLO** and triggers 'Payment Captured Webhook'. This webhook\
        \ contains the same information as the response. This method also triggers\
        \ 'Payment Completed Webhook'. The capture operation is also known as clearing\
        \ or completion.<BR>The scope of the capture operation depends on the client's\
        \ pre-authorization permissions. To change these permissions, contact Rapyd\
        \ Client Support."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/capture-payment.html
      operationId: capturePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with **payment_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_548969fc5a0bf89da3cec70a1529338c
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/paymentId_capture_body"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        "400":
          description: Payment not found
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_CAPTURE_PAYMENT
                    message: "The request tried to capture a payment, but the payment\
                      \ could not be found or there was an error in the input parameters.\
                      \ The request was rejected. Corrective action: Determine whether\
                      \ the payment was closed, and check all input parameters."
                    operation_id: fbc7054e-4493-4f01-b62e-788f189f9c0f
                    response_code: ERROR_CAPTURE_PAYMENT
                    status: ERROR
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payments/completePayment:
    post:
      tags:
      - Payment
      summary: Complete Payment
      description: "To simulate the completion of a payment by the action of a third\
        \ party, use this method in the sandbox.<BR> This method changes the payment\
        \ status to **CLO** (closed), and applies to the **cash**, **bank_redirect**,\
        \ **bank_transfer**, or **ewallet** payment method types.<BR> This method\
        \ also returns the 'Payment Completed' Webhook. This webhook contains the\
        \ same information as the response.<BR> For a card payment:<BR> * Capture\
        \ after authorization only - Use 'Capture Payment'.<BR> * Simulate 3-D Secure\
        \ (3DS) verification - See Simulating 3DS Authentication.<BR> **Prerequisites**:<BR>\
        \ * Create Payment"
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/complete-payment-363014.html
      operationId: completePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/payments_completePayment_body"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_3"
        "400":
          description: Card used in payment not authenticated.
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_SIMULATE_COMPLETE_PAYMENT_CARD_NOT_AUTHENTICATED
                    message: "The request tried to complete a card payment in the\
                      \ sandbox, but the transaction requires 3DS authentication.\
                      \ The request was rejected. Corrective action: Browse to the\
                      \ URL in the 'redirect_url' field in the response to 'Create\
                      \ Payment'. In the simulated 3DS authentication window, enter\
                      \ '123456'."
                    operation_id: fbc7054e-4493-4f01-b62e-788f189f9c0f
                    response_code: ERROR_SIMULATE_COMPLETE_PAYMENT_CARD_NOT_AUTHENTICATED
                    status: ERROR
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/checkout/{checkout_token}:
    get:
      tags:
      - Checkout Page
      summary: Retrieve Checkout Page
      description: Retrieve a checkout page.
      externalDocs:
        description: Learn more about customer operations provided by this API.
        url: https://docs.rapyd.net/en/retrieve-checkout-page.html
      operationId: getHostedPagePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: checkout_token
        in: path
        description: ID of the checkout page. String starting with **checkout_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_4"
        "400":
          description: Bad Request. Checkout page not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_6"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/checkout:
    post:
      tags:
      - Checkout Page
      summary: Create Checkout Page
      description: Create a checkout page that makes a payment.
      externalDocs:
        description: API Reference
        url: https://docs.rapyd.net/en/create-checkout-page.html
      operationId: generateHostedPagePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1_checkout_body"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_4"
        "400":
          description: Bad Request. Checkout page not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_7"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payments/subscriptions:
    get:
      tags:
      - Subscription
      summary: List Subscriptions
      description: Retrieve a list of subscriptions. You can filter the list with
        query parameters.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-subscriptions.html
      operationId: getSubscriptionList
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: billing
        in: query
        description: "Method of billing. One of the following, pay_automatically,\
          \ send_invoice."
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: pay_automatically
      - name: customer
        in: query
        description: ID of the customer. String starting with cus_
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: cus_494eae8b99f697107d7384
      - name: status
        in: query
        description: "Status of the subscription. One of the following, active, canceled,\
          \ trialing"
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 10
      - name: product
        in: query
        description: ID of a 'product' object. The product must have type set to service.
          String starting with product_. Filter for one product at a time.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: product_494eae8b99f697107d738
      - name: starting_after
        in: query
        description: The ID of a record in the list. The list begins with the record
          that was created next after the record with this ID. Use this filter to
          get the next page of results. Relevant when ending_before is not used.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: sub_8cc8c5a385732bb8bdd3e7b8e87985a0
      - name: ending_before
        in: query
        description: The ID of a record in the list. The list ends with the last record
          that was created before the record with this ID. Use this filter to get
          the previous page of results.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: sub_8cc8c5a385732bb8bdd3e7b8e87985a0
      - name: limit
        in: query
        description: "The maximum number of subscriptions to return. Range, 1-100.\
          \ Default is 10."
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 23
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_5"
        "400":
          description: Bad Request. Incorrect query syntax.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_8"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Subscription
      summary: Create Subscription
      description: "Create a subscription for regular, automatic payments."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-subscription.html
      operationId: createSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/payments_subscriptions_body"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_6"
        "400":
          description: Bad Request. Incorrect `days_until_due` value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_9"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payments/subscriptions/{subscriptionId}:
    get:
      tags:
      - Subscription
      summary: Retrieve Subscription
      description: Retrieve the details of a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-subscription.html
      operationId: getSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with sub_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_6"
        "400":
          description: Bad Request. Subscription not active.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_10"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Subscription
      summary: Update Subscription
      description: Update the details of a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-subscription.html
      operationId: updateSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with **sub_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/subscriptions_subscriptionId_body"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_6"
        "400":
          description: Bad Request. Update not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_11"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    delete:
      tags:
      - Subscription
      summary: Cancel Subscription
      description: Cancel a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/cancel-subscription.html
      operationId: cancelSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with **sub_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_6"
        "400":
          description: Bad Request. Subscription was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_12"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/payments/subscriptions/{subscriptionId}/discount:
    delete:
      tags:
      - Subscription
      summary: Delete Discount from Subscription
      description: Delete the discount that was assigned to a subscription. This method
        does not affect the coupon that the discount was derived from.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/delete-discount-from-subscription.html
      operationId: deleteSubscriptionDiscount
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with **sub_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_7"
        "400":
          description: Bad Request. Subscription discount was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_13"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/checkout/subscriptions:
    post:
      tags:
      - Subscription
      summary: Create Subscription by Hosted Page
      description: Create a subscription using a hosted page. Relevant to card payments.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/create-subscription-by-hosted-page.html
      operationId: createSubscriptionByHostedPage
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checkout_subscriptions_body"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_8"
        "400":
          description: Bad Request. Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_14"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/products:
    get:
      tags:
      - Subscription.Product
      summary: List Products
      description: Retrieve a list of all products.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-plans.html
      operationId: getProductsList
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the products created after the last product you want
          to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of products to return. Range 1-100. Default
          is 10.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 15
      - name: starting_after
        in: query
        description: The ID of the product created before the first products you want
          to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 10
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_9"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Subscription.Product
      summary: Create Product
      description: Create goods or services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-product.html
      operationId: createProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1_products_body"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_10"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/products/{productsId}:
    get:
      tags:
      - Subscription.Product
      summary: Retrieve Product
      description: Retrieve details of a product or service.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-product.html
      operationId: getProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: productsId
        in: path
        description: ID of the product.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: product_0d9dc6be69c769560fe913f3b086d8ca
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_10"
        "400":
          description: Bad Request. Invalid value of product ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_15"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Subscription.Product
      summary: Update Product
      description: Change or modify a product or service.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-product.html
      operationId: updateProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: productsId
        in: path
        description: ID of the product.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: product_0d9dc6be69c769560fe913f3b086d8ca
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/products_productsId_body"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_10"
        "400":
          description: Bad Request. Invalid value of `attributes`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_16"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    delete:
      tags:
      - Subscription.Product
      summary: Delete Product
      description: Delete a product or service from the Rapyd platform. This action
        also deletes all associated plans.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-product.html
      operationId: deleteProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: productsId
        in: path
        description: ID of the product.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: product_0d9dc6be69c769560fe913f3b086d8ca
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_11"
        "400":
          description: Bad Request. Product ID not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_17"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/plans:
    get:
      tags:
      - Subscription.Plan
      summary: List Plans
      description: Retrieve a list of all plans. Use the optional query parameters
        to filter the results. You can filter the results further by specifying one
        or more Plan fields as additional query parameters.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-plans.html
      operationId: listPlans
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the plan created after the last plan you want to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: plan_5a99897cdcd7175cb8119254d02befdb
      - name: limit
        in: query
        description: The maximum number of plans to return. Range 1-100. Default is
          10.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 15
      - name: starting_after
        in: query
        description: The ID of the plan created before the first plan you want to
          retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: plan_5a99897cdcd7175cb8119254d02befdb
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_12"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Subscription.Plan
      summary: Create Plan
      description: Create a pricing plan for services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-plan.html
      operationId: createPlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1_plans_body"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_13"
        "400":
          description: Bad Request. Invalid value to required field.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_18"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/plans/{planId}:
    get:
      tags:
      - Subscription.Plan
      summary: Retrieve Plan
      description: Retrieve the details of a pricing plan for services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-plan.html
      operationId: retrievePlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: planId
        in: path
        description: ID of the plan.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: plan_494eae8b99f697107d738
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_13"
        "400":
          description: Bad Request. Plan ID not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_19"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Subscription.Plan
      summary: Update Plan
      description: Change or modify a pricing plan for services. You can update a
        plan's nickname or metadata.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-plan.html
      operationId: updatePlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: planId
        in: path
        description: ID of the plan.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: plan_494eae8b99f697107d738
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/plans_planId_body"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_13"
        "400":
          description: Bad Request. Invalid value to required field.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_20"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    delete:
      tags:
      - Subscription.Plan
      summary: Delete Plan
      description: Delete a pricing plan for services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-plan.html
      operationId: deletePlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: planId
        in: path
        description: ID of the plan.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: plan_494eae8b99f697107d738
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_11"
        "400":
          description: Bad Request. Multiple requests to delete the same plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400_21"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
  /v1/subscription_items:
    get:
      tags:
      - Subscription.Subscription Item
      summary: List Subscription Items
      description: Retrieve a list of all subscription items for a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-subscription-items.html
      operationId: listSubscriptionItem
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the subscription item created after the last subscription
          item you want to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of subscription items to return. Range 1-100.
          Default is 10.
        required: false
        style: form
        explode: false
        schema:
          type: number
        example: 15
      - name: starting_after
        in: query
        description: The ID of the subscription item created before the first subscription
          item you want to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 10
      - name: subscription
        in: query
        description: ID of the subscription.
        required: true
        style: form
        explode: false
        schema:
          type: string
        example: sub_0de9c79c1e2beee09499dc8220493d59
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_14"
        "401":
          description: Authentication issue. Check status of account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
    post:
      tags:
      - Subscription.Subscription Item
      summary: Create Subscription Item
      description: Create a subscription item and add it to an existing subscription
        for recurring payment.
      externalDocs:
[...]
