openapi: 3.0.0

info:
  contact:
    email: rapyd_support@rapyd.com
  description: This is Rapyd OpenAPI
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Rapyd API
  version: 1.0.5

servers:
  - description: Sandbox server
    url: https://sandboxapi.rapyd.net/
  - description: Production server
    url: https://api.rapyd.net/

paths:
  /v1/account/transfer:
    post:
      description: Transfer funds between Rapyd Wallets.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-transaction#transfer-funds-between-wallets
      operationId: fundsTransfer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  description: Amount of the transfer. Decimal.
                  type: number
                currency:
                  description: Three-letter ISO 4217 code for the currency used in the amount field. Uppercase.
                  type: string
                destination_ewallet:
                  description: ID of the wallet receiving the money. String starting with ewallet_.
                  type: string
                expiration:
                  description: Determines the day the ewallet funds transfer expires, in Unix time. Acceptance of the ewallet transfer must be completed before the start of this day. The default setting is 14 days from the date the ewallet transfer was created.
                  type: string
                metadata:
                  description: A JSON object defined by the client.
                  type: object
                source_ewallet:
                  description: ID of the wallet sending the money. String starting
                    with ewallet_.
                  type: string
              required:
                - amount
                - destination_ewallet
                - source_ewallet
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Transfer'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Transacton properties
      summary: Transfer Funds Between Wallets
      tags:
        - eWallets
  /v1/account/transfer/response:
    post:
      description: Respond to a funds transfer between wallets. The transferee uses this method to accept or decline the transfer.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-transaction#set-transfer-response
      operationId: setFundsTransferResponse
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: ID of the transfer transaction, from the 'id' field
                    in the 'data' object of the response. 32-digit hexadecimal.
                  type: string
                metadata:
                  description: A JSON object defined by the client.
                  type: object
                status:
                  description: Determines how to handle the transfer. One of the following values - accept, decline, cancel
                  type: string
              required:
                - id
                - status
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Transfer'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Transacton properties
      summary: Set Transfer Response
      tags:
        - eWallets
  /v1/addresses:
    post:
      description: Adds an address to merchant
      externalDocs:
        description: Learn more about address operations provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/addresses#address-object
      operationId: createAddress
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AddressRequest'
                - required: [name, line_1]
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Address'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: address was created successfully
      summary: Create an address
      tags:
        - Collect
  /v1/addresses/{addressesId}:
    get:
      description: 'Retrieve an address'
      externalDocs:
        description: Learn more about address operations provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/addresses#address-object
      operationId: retrieveAddress
      parameters:
        - description: address Id
          in: path
          name: addressesId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Address'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: get Address details By address Id
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_ADDRESS_GET
                    message: "The request attempted an operation that requires an
                      address, but the address was not found. The request was rejected.
                      Corrective action: For the ''address'' parameter, use a valid
                      address ID."
                    response_code: ERROR_ADDRESS_GET
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Address not found for given ID
      summary: Retrieve an address
      tags:
        - Collect
    post:
      description: update an address with address Id in Path
      operationId: updateAddress
      parameters:
        - description: address Id
          in: path
          name: addressesId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Address'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: address was updated successfully
        '400':
          description: Bad Request. Address not found for given ID
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_ADDRESS_GET
                    message: "The request attempted an operation that requires an
                      address, but the address was not found. The request was rejected.
                      Corrective action: For the 'address' parameter, use a valid
                      address ID."
                    response_code: ERROR_ADDRESS_GET
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
      summary: Update an address
      tags:
        - Collect
  /v1/coupons:
    get:
      description: Retrieve a list of all coupons
      externalDocs:
        description: Defines a discount on charges to the customer
        url: https://docs.rapyd.net/build-with-rapyd/reference/coupons
      operationId: listCoupon
      parameters:
        - description: The ID of the coupon created before the first coupon you want
            to retrieve
          in: query
          name: starting_after
          schema:
            type: string
        - description: The ID of the coupon created after the last coupon you want to
            retrieve
          in: query
          name: ending_before
          schema:
            type: string
        - description: The maximum number of coupons to return. Range is 1-100. Default
            is 10
          in: query
          name: limit
          schema:
            pattern: ([1-9]|[1-9]\d|100)
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coupon'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: get coupons details
        '400':
          description: bad input parameter
        '500':
          description: Internal server error.
      summary: Retrieve list of coupons
      tags:
        - Collect
    post:
      description: create a coupon
      externalDocs:
        description: Defines a discount on charges to the customer
        url: https://docs.rapyd.net/build-with-rapyd/reference/coupons
      operationId: createCoupon
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Coupon'
                - oneOf:
                    - required: [duration, amount_off, currency]
                    - required: [duration, percent_off]
        description: address to add
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Coupon'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Coupon was created
      summary: Create new coupon
      tags:
        - Collect
  /v1/coupons/{couponId}:
    delete:
      description: Delete a coupon from the Rapyd platform. Deleting a coupon removes
        it from all customers and subscriptions, but does not affect invoices and
        payment authorizations that have already been calculated
      operationId: deleteCoupon
      parameters:
        - description: coupon Id. String starting with coupon_.
          in: path
          name: couponId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                      id:
                        type: string
                type: object
          description: coupon was deleted
        400:
          description: bad input parameter
        500:
          description: Internal server error.
      summary: Delete a coupon from the Rapyd platform
      tags:
        - Collect
    get:
      description: 'Retrieve a coupon'
      externalDocs:
        description: Learn more about coupon operations provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/coupons#retrieve-coupon
      operationId: retrieveCoupon
      parameters:
        - description: coupon Id. String starting with coupon_.
          in: path
          name: couponId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    $ref: '#/components/schemas/Coupon'
                type: object
          description: get Coupon details By coupon Id
        '400':
          description: bad input parameter
        '500':
          description: Internal server error.
      summary: Retrieve an coupon
      tags:
        - Collect
    post:
      description: Modify the metadata of a coupon with coupon Id in Path
      operationId: updateCoupon
      parameters:
        - description: coupon Id. String starting with coupon_.
          in: path
          name: couponId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Coupon'
        description: coupon to add
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    $ref: '#/components/schemas/Coupon'
                type: object
          description: coupon was updated
        '400':
          description: bad input parameter
        '500':
          description: Internal server error.
      summary: Update a coupon
      tags:
        - Collect
  /v1/checkout/{checkout_token}:
    get:
      description: 'Retrieve a checkout page'
      externalDocs:
        description: Learn more about coupon operations provided by this API
        url: https://docs.rapyd.net/en/retrieve-checkout-page.html
      operationId: getHostedPagePayment
      parameters:
        - description: ID of the checkout page. String starting with checkout_.
          in: path
          name: checkout_token
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    $ref: '#/components/schemas/CheckoutPageResponse'
                type: object
          description: Retrieve a checkout page
      summary: Retrieve a checkout page.
      tags:
        - Collect
  /v1/checkout:
    post:
      description: Create a checkout page that makes a payment.
      externalDocs:
        description: Create a checkout page that makes a payment.
        url: https://docs.rapyd.net/en/create-checkout-page.html
      operationId: generateHostedPagePayment
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/HostedPageAdditionalResponse'
                - required: [country, currency, amount]
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/CheckoutPageResponse'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Create a checkout page that makes a payment.
      summary: Create checkout page
      tags:
        - Collect
  /v1/customers:
    get:
      description: 'Retrieve a list of all customers'
      externalDocs:
        description: GET list of customers
        url: https://docs.rapyd.net/build-with-rapyd/reference/customers#list-customers
      operationId: listCustomer
      parameters:
        - description: The ID of the customer created before the first customer you want to retrieve
          in: query
          name: starting_after
          schema:
            type: string
        - description: The ID of the customer created after the last customer you want to retrieve
          in: query
          name: ending_before
          schema:
            type: string
        - description: The maximum number of customers to return. Range is 1-100. Default is 10
          in: query
          name: limit
          schema:
            pattern: ([1-9]|[1-9]\d|100)
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                type: object
          description: get customers details
      summary: Retrieve list of customers
      tags:
        - Collect
    post:
      description: Adds a customer to merchant
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/customers#create-customer
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CustomerRequest'
                - required: [name]
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/Customer'
                      - $ref: '#/components/schemas/CustomerDetailsPMT'
                type: object
          description: customer was created successfully
        '400':
          description: Bad Request. Address not found for given ID
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_CREATE_CUSTOMER
                    message: 'The request tried to create or update a customer, but the wallet ID provided is already in use by another customer. The request was rejected. Corrective action: Create a new wallet.'
                    response_code: ERROR_CREATE_CUSTOMER
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
      summary: Create a customer
      tags:
        - Collect
  /v1/customers/{customerId}:
    delete:
      description: 'This method triggers the Customer Deleted webhook. This webhook
        contains the same information as the response'
      externalDocs:
        description: delete an existing customer
        url: https://docs.rapyd.net/build-with-rapyd/reference/customers#delete-customer
      operationId: deleteCustomer
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      deleted:
                        type: boolean
                  status:
                    $ref: '#/components/schemas/Status'
          description: customer was deleted
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_DELETE_CUSTOMER
                    message: 'The request tried to delete a customer, but the operation failed. Corrective action: Determine whether the customer was already deleted, and why there were multiple requests to delete it.'
                    response_code: ERROR_DELETE_CUSTOMER
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: 'The request tried to delete a customer, but the operation failed. Corrective action is to Determine whether the customer was alread deleted, and why there were multiple requests to delete it.'
      summary: Delete a customer from the Rapyd platform
      tags:
        - Collect
    get:
      description: Retrieve a customer
      externalDocs:
        description: Learn more about Retrieve a customer details provided by this
          API
        url: https://docs.rapyd.net/build-with-rapyd/reference/customers#retrieve-customer
      operationId: retrieveCustomer
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/Customer'
                      - $ref: '#/components/schemas/CustomerDetailsPMT'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: get customer details By customer Id
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_GET_CUSTOMER
                    message: 'The request attempted an operation that requires the ID of a customer, but the customer was not found. The request was rejected. Corrective action: Use the correct ID of the customer, a string starting with "cus_"'
                    response_code: ERROR_GET_CUSTOMER
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer not found for given ID
      summary: Retrieve a customer details
      tags:
        - Collect
    post:
      description: Update a customer with customer Id in Path
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/customers#update-customer
      operationId: updateCustomer
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/Customer'
                      - $ref: '#/components/schemas/CustomerDetailsPMT'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: customer was updated successfully
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: INVALID_CUSTOMER_ID
                    message: 'The request attempted an operation that requires a valid customer ID, but the customer was not found. The request was rejected. Corrective action: Use the correct customer, or create a new customer.'
                    response_code: INVALID_CUSTOMER_ID
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Update customer
      tags:
        - Collect
  /v1/customers/{customerId}/discount:
    delete:
      description: 'Delete the discount that has been assigned to a customer through a coupon.
        This action does not affect the coupon that the discount was derived from.
        This method triggers the Customer Discount Deleted webhook.'
      operationId: deleteCustomerDiscount
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      deleted:
                        type: boolean
                  status:
                    $ref: '#/components/schemas/Status'
          description: discount was deleted
      summary: Delete the discount that has been assigned to a customer
      tags:
        - Collect
  /v1/customers/{customerId}/payment_methods:
    get:
      description: Retrieve payment methods for a customer
      externalDocs:
        description: Learn more about Retrieve payment methods for a customer
        url: https://docs.rapyd.net/build-with-rapyd/reference/customer-payment-method#list-payment-methods-of-customer
      operationId: getCustomerPaymentMethods
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - in: query
          name: category
          schema:
            $ref: '#/components/schemas/Category'
        - description: The ID of the coupon created before the first coupon you want
            to retrieve
          in: query
          name: starting_after
          schema:
            type: string
        - description: The ID of the coupon created after the last coupon you want to
            retrieve
          in: query
          name: ending_before
          schema:
            type: string
        - description: The maximum number of coupons to return. Range is 1-100. Default
            is 10
          in: query
          name: limit
          schema:
            type: string
        - description: The type of payment method to find.
          in: query
          name: type
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerPaymentMethod'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: get customer details By customer Id
      summary: Retrieve payment methods for a customer
      tags:
        - Collect
    post:
      description: Add a payment method to a customer profile
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/customer-payment-method#add-payment-method-to-customer
      operationId: createCustomerPaymentMethod
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/PaymentMethodType'
              type: object
        description: customer to add
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    $ref: '#/components/schemas/CustomerPaymentMethod'
                type: object
          description: Payment method was created for this customer successfully
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_CREATE_PAYMENT_METHOD
                    message: 'The request attempted an operation that requires specific fields for payment method, but a required field was missing, or an extra, unallowed field was included. Corrective action: Run "Get Payment Method Required Fields" and check all input fields.'
                    response_code: ERROR_CREATE_PAYMENT_METHOD
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Add a payment method to a customer profile
      tags:
        - Collect
  /v1/customers/{customerId}/payment_methods/{pmtId}:
    delete:
      description: 'This method triggers the Webhook - Payment Method Canceled webhook.
        This webhook contains more information than the response.'
      externalDocs:
        description: delete a payment method for customer
        url: https://docs.rapyd.net/build-with-rapyd/reference/customer-payment-method#delete-payment-method
      operationId: deleteCustomerPaymentMethod
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Pmt Id
          in: path
          name: pmtId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        type: string
                      deleted:
                        type: boolean
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: payment method was deleted for this customer
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_DELETE_PAYMENT_METHOD_IN_USE
                    message: 'The request tried to delete a customer''s default payment method, but the payment method was in use. The request was rejected. Corrective actionis to use "List Subscriptions", filtered by the customer''s ID, then use "Cancel Subscription" to remove all subscriptions that use the customer''s ID or the payment method that you want to delete.'
                    response_code: ERROR_DELETE_PAYMENT_METHOD_IN_USE
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Delete a payment method type from customer
      tags:
        - Collect
    get:
      description: Retrieve a payment method for a specific customer
      externalDocs:
        description: Learn more about Retrieve payment methods for a customer
        url: https://docs.rapyd.net/build-with-rapyd/reference/customer-payment-method#retrieve-payment-method
      operationId: getCustomerPaymentMethod
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Pmt Id
          in: path
          name: pmtId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/CustomerPaymentMethod'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: get customer details By customer Id
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_CUSTOMER_PAYMENT_METHOD_NOT_FOUND
                    message: 'The request attempted an operation that requires the default payment method of a customer, but the customer does not have a default payment method. The request was rejected.'
                    response_code: ERROR_CUSTOMER_PAYMENT_METHOD_NOT_FOUND
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: bad input parameter
      summary: Retrieve a payment method for a specific customer
      tags:
        - Collect
    post:
      description: Change or modify a payment method that was stored in a customer
        profile
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/customer-payment-method#update-payment-method
      operationId: updateCustomerPaymentMethod
      parameters:
        - description: customer Id
          in: path
          name: customerId
          required: true
          schema:
            type: string
        - description: Pmt Id
          in: path
          name: pmtId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentMethod'
        description: customer to add
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/CustomerPaymentMethod'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: customer was updated successfully
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_CUSTOMER_PAYMENT_METHOD_NOT_FOUND
                    message: 'The request attempted an operation that requires the default payment method of a customer, but the customer does not have a default payment method. The request was rejected.'
                    response_code: ERROR_CUSTOMER_PAYMENT_METHOD_NOT_FOUND
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: bad input parameter
      summary: Update payment method for customer
      tags:
        - Collect
  /v1/data/countries:
    get:
      description: Retrieve a list of all countries.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/country-object#list-countries
      operationId: getCountries
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CountryObject'
                    type: array
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: countries fetched successfuly
      summary: List Countries
      tags:
        - General.Resources
  /v1/data/currencies:
    get:
      description: Retrieve a list of all currencies.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/currency-object#list-currencies
      operationId: getCurrencies
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CurrencyObject'
                    type: array
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Returns list of supported currencies
      summary: List Currencies
      tags:
        - General.Resources
  /v1/disputes:
    get:
      description: Retrieve a detailed list of 'dispute' objects.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/dispute#list-disputes
      operationId: getDisputesListByOrgId
      summary: Retrieve list of disputes
      parameters:
        - description: The ID of the dispute created before the first dispute you want to retrieve. String starting with dispute_.
          in: query
          example: dispute_3e4862ba69665f04da530154f1019998
          name: starting_after
          schema:
            type: string
        - description: The ID of the dispute created after the last dispute you want to retrieve. String starting with dispute_.
          example: dispute_3e4862ba69665f04da530154f1019998
          in: query
          name: ending_before
          schema:
            type: string
        - description: The maximum number of disputes to return. Range is 1-100. Default is 10.
          in: query
          name: limit
          schema:
            pattern: ([1-9]|[1-9]\d|100)
            type: string
        - description: Filters the list for disputes with the specified dispute status.
          in: query
          name: status
          schema:
            type: string
            enum:
              - ACT
              - RVW
              - PRA
              - ARB
              - LOS
              - WIN
              - REV
        - description: The ID of the payment that is linked to the dispute. String starting with payment_.
          in: query
          name: payment
          example: payment_ce936f36d93bc9307a3d
          schema:
            type: string
      tags:
        - Collect
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Dispute'
                    type: array
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: disputes fetched successfuly
  /v1/disputes/{disputeId}:
    get:
      description: Retrieve the details of a dispute.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/dispute#retrieve-dispute
      operationId: getDispute
      summary: Retrieve an dispute.
      parameters:
        - description: ID of the dispute you want to retrieve. String starting with dispute_.
          in: path
          required: true
          example: dispute_3e4862ba69665f04da530154f1019998
          name: disputeId
          schema:
            type: string
      tags:
        - Collect
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Dispute'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Get dispute details by dispute id
  /v1/ewallets/{ewalletId}/contacts:
    get:
      description: Retrieve all contacts for a wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-contact-2#list-contacts-for-a-rapyd-wallet
      operationId: getEwalletContacts
      parameters:
        - description: ID of the Rapyd Wallet that this contact is associated with.
            String starting with ewallet_.
          example: ewallet_16feaaa27c852f30214dd7b3b359e88c
          explode: false
          in: path
          name: ewalletId
          required: true
          schema:
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Contact'
                    type: array
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: List Contacts for a Rapyd Wallet,
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_GET_EWALLET
                    message: 'The request attempted an operation that requires a wallet, but the wallet was not found. The request was rejected. Corrective action: Use the ID of a valid wallet, a string starting with "ewallet_".'
                    response_code: ERROR_GET_EWALLET
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: List Contacts for a Rapyd Wallet
      tags:
        - eWallets
    post:
      description: Add a personal contact to a company wallet or client wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-contact-2#add-contact-to-wallet
      operationId: createEwalletContact
      parameters:
        - description: ID of the Rapyd Wallet that this contact is associated with.
            String starting with ewallet_.
          example: ewallet_16feaaa27c852f30214dd7b3b359e88c
          explode: false
          in: path
          name: ewalletId
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  $ref: '#/components/schemas/Address'
                contact_type:
                  description: 'Type of contact: personal.'
                  type: string
                country:
                  description: 2-letter ISO 3166-1 ALPHA-2 code for the country. Uppercase.
                  type: string
                date_of_birth:
                  description: 'Date of birth of the individual. Format: MM/DD/YYYY'
                  type: string
                email:
                  description: Email address for the contact.
                  type: string
                first_name:
                  description: First name of the contact.
                  type: string
                last_name:
                  description: >
                    Family name of the personal contact or primary person associated with the business contact. For a personal contact type, alphabetic characters and spaces.
                    Required for issuing a card to a personal contact.
                  type: string
                gender:
                  description: 'Gender of the contact. One of the following values:
                    male, female, other, not_applicable'
                  type: string
                house_type:
                  description: 'Description of the type of residency. One of the following
                    values: lease, live_with_family, own, owner, month_to_month, housing_project'
                  type: string
                identification_number:
                  description: ID number as shown by the ID document. Alphanumeric
                    string
                  type: string
                identification_type:
                  description: Type of the identification document
                  type: string
                marital_status:
                  description: 'Marital status of the contact. One of the following
                    values: married, single, divorced, widowed, cohabiting, not_applicable'
                  type: string
                metadata:
                  description: A JSON object defined by the client.
                  type: string
                middle_name:
                  description: Middle name of the personal contact or primary person
                    associated with the business contact.
                  type: string
                mothers_name:
                  description: Name of the contact's mother.
                  type: string
                nationality:
                  description: The citizenship of the contact. Two-letter ISO 3166-1
                    ALPHA-2 code for the country. Uppercase.
                  type: string
                phone_number:
                  description: Phone number of the contact in E.164 format.
                  type: string
                second_last_name:
                  description: Second last name of the contact.
                  type: string
                send_notifications:
                  description: Determines whether Rapyd sends notifications to the
                    contact. Default is false.
                  type: boolean
                contact_reference_id:
                  description: Reference ID for the contact. Limited
                    to 45 characters. Should be unique per merchant per e-wallet.
                  type: string
              type: object
              required:
                - contact_type
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: List Contacts for a Rapyd Wallet,
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_ADD_CONTACT_TOO_MANY_CONTACTS
                    message: 'The request tried to add a contact to a personal wallet, but a personal wallet can have only one contact. The request was rejected. Corrective action: None. Determine why an attempt was made to give a personal wallet two contacts. Consider creating a company wallet.'
                    response_code: ERROR_ADD_CONTACT_TOO_MANY_CONTACTS
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Add Contact to Wallet
      tags:
        - eWallets
  /v1/ewallets/{ewalletId}/contacts/{contactId}:
    delete:
      description: Delete a personal contact from a company wallet or client wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-contact-2#delete-wallet-contact
      operationId: deleteEwalletContact
      parameters:
        - description: ID of the Rapyd Wallet that this contact is associated with.
            String starting with ewallet_.
          example: ewallet_16feaaa27c852f30214dd7b3b359e88c
          explode: false
          in: path
          name: ewalletId
          required: true
          schema:
            type: string
          style: simple
        - description: ID of the contact. String starting with the prefix cont_.
          explode: false
          in: path
          name: contactId
          required: true
          schema:
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      delete:
                        description: Flag to indicate whether contact deleted or not
                        example: true
                        type: boolean
                      id:
                        description: Contact id
                        example: beneficiary_008d839a9d5726ba014c3ccb21c59920
                        type: string
                    type: object
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Retrieve a contact for an existing Rapyd Wallet.
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_DELETE_CONTACT_FROM_PERSONAL_EWALLET
                    message: 'The request tried to delete a contact, but the wallet was a personal wallet. A personal wallet can have only one contact and it cannot be deleted. The request was rejected. Corrective action: None. Determine why an attempt was made to delete the contact.'
                    response_code: ERROR_DELETE_CONTACT_FROM_PERSONAL_EWALLET
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Delete Wallet Contact
      tags:
        - eWallets
    get:
      description: Retrieve a contact for an existing Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-contact-2#retrieve-wallet-contact
      operationId: getEwalletContact
      parameters:
        - description: ID of the Rapyd Wallet that this contact is associated with.
            String starting with ewallet_.
          example: ewallet_16feaaa27c852f30214dd7b3b359e88c
          explode: false
          in: path
          name: ewalletId
          required: true
          schema:
            type: string
          style: simple
        - description: One of two values. either ID of the contact - String starting with the prefix cont_ or Contact reference ID.
          explode: false
          in: path
          name: contactId
          required: true
          schema:
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Retrieve a contact for an existing Rapyd Wallet.
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_GET_EWALLET_CONTACT
                    message: 'The request attempted an operation that requires a wallet contact, but the contact was not found. The request was rejected. Corrective action: In the path, specify the ID of a valid wallet, a string starting with "ewallet", and the ID of a valid contact belonging to that wallet, a string starting with "cont".'
                    response_code: ERROR_GET_EWALLET_CONTACT
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Retrieve Wallet Contact.
      tags:
        - eWallets
    post:
      description: Update a contact for a Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-contact-2#update-wallet-contact
      operationId: updateEwalletContact
      parameters:
        - description: ID of the Rapyd Wallet that this contact is associated with.
            String starting with ewallet_.
          example: ewallet_16feaaa27c852f30214dd7b3b359e88c
          explode: false
          in: path
          name: ewalletId
          required: true
          schema:
            type: string
          style: simple
        - description: ID of the contact. String starting with the prefix cont_.
          explode: false
          in: path
          name: contactId
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Retrieve a contact for an existing Rapyd Wallet.
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_UPDATE_EWALLET_CONTACT
                    message: 'The request tried to update a business wallet contact, but there was a format error in the business details. The request was rejected. Corrective action: Provide all data in the correct format. See the API reference.'
                    response_code: ERROR_UPDATE_EWALLET_CONTACT
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Update Wallet Contact
      tags:
        - eWallets
  /v1/ewallets/{ewalletId}/contacts/{contactId}/compliance_levels:
    get:
      description: Verify the compliance status of a personal contact.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/wallet-contact-2#update-wallet-contact
      operationId: getEwalletContactComplianceLevels
      parameters:
        - description: ID of the Rapyd Wallet that this contact is associated with. String starting with ewallet_.
          example: ewallet_16feaaa27c852f30214dd7b3b359e88c
          explode: false
          in: path
          name: ewalletId
          required: true
          schema:
            type: string
          style: simple
        - description: ID of the contact. String starting with cont_.
          explode: false
          in: path
          name: contactId
          required: true
          schema:
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      compliance_levels:
                        type: array
                        items:
                          type: object
                          properties:
                            level:
                              type: number
                            elements:
                              type: array
                              items:
                                type: object
                                minItems: 0
                                properties:
                                  element_name:
                                    type: string
                                  verified:
                                    type: boolean
                    type: object
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Verify the compliance status of a personal contact.
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_GET_COMPLIANCE_LEVELS
                    message: ''
                    response_code: ERROR_GET_COMPLIANCE_LEVELS
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Get the compliance status of a personal contact.
      tags:
        - eWallets
  /v1/hosted/collect/card:
    post:
      description: Create a hosted page for a customer to save card details and manage cards.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-card-token.html
      operationId: generateCardTokenizationPage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                billing_address_collect:
                  description: Indicates whether the hosted page displays address fields to fill in. true - The address fields are displayed. false - The address fields are displayed only for country codes US, GB and CA.
                  type: string
                cancel_url:
                  description: URL where the customer is redirected after pressing Back to Website to exit the hosted page. This URL overrides the merchant_website URL. Does not support localhost URLs.
                  type: string
                complete_url:
                  description: URL where the customer is redirected after pressing Close to exit the hosted page. This URL overrides the merchant_website URL. Does not support localhost URLs
                  type: string
                country:
                  $ref: '#/components/schemas/Country'
                complete_payment_url:
                  description: URL where the customer is redirected after successfully completing an operation on a hosted page. Does not support localhost URLs.
                  type: string
                currency:
                  $ref: '#/components/schemas/Currency'
                customer:
                  description: ID of the customer, a string starting with cus_.
                  type: string
                error_payment_url:
                  description: URL where the customer is redirected if an error occurs during or after an operation on a hosted page. Does not support localhost URLs.
                  type: string
                language:
                  description: Determines the default language of the hosted page. When this parameter is null, the language of the user's browser is used. If the language of the user's browser cannot be determined, the default language is English
                  type: string
                page_expiration:
                  description: End of the time when the customer can use the hosted page, in Unix time. If page_expiration is not set, the hosted page expires 14 days after creation. Range is 1 minute to 30 days.
                  type: number
                payment_method_type:
                  description: Limits the page to a specific type of payment method. For example, dk_visa_card
                  type: string
              required: [country, customer]
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HostedPageResponse'
                  status:
                    $ref: '#/components/schemas/Status'
          description: Create Card Token.
      summary: Create a hosted page for a customer to save card details and manage cards.
      tags:
        - Hosted
  /v1/hosted/idv:
    post:
      description: >
        Create a hosted page for verifying the identity of a personal contact for a Rapyd Wallet.
        The customer completes the process by accessing the URL returned in the response.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-identity-verification-page.html
      operationId: generateIdvPage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reference_id:
                  description: ID of the identity verification request. Must be unique for each request. Defined by the client.
                  type: string
                ewallet:
                  description: ID of the Rapyd Wallet. String starting with ewallet_.
                  type: string
                contact:
                  description: ID of the wallet contact. String starting with cont_.
                  type: string
                country:
                  description: The two-letter ISO 3166-1 ALPHA-2 code for the country of the identification document.
                  type: string
                request_type:
                  description: >
                    Determines the action that is taken on the request. One of the following:
                    store - Store the images on the Rapyd platform.
                    verify - Verify the identity of the person in the images.
                    Default is verify.
                  enum:
                    - store
                    - verify
                  type: string
                document_type:
                  description: Type of identification document. Two-letter code.
                  type: string
                cancel_url:
                  description: URL where the customer is redirected after pressing Back to Website to exit the hosted page. This URL overrides the merchant_website URL. Does not support localhost URLs.
                  type: string
                complete_url:
                  description: URL where the customer is redirected after pressing Close to exit the hosted page. This URL overrides the merchant_website URL. Does not support localhost URLs.
                  type: string
                language:
                  description: >
                    Determines the default language of the hosted page.
                    When this parameter is null, the language of the user's browser is used.
                    If the language of the user's browser cannot be determined, the default language is English.
                  type: string
                page_expiration:
                  description: >
                    End of the time when the customer can use the hosted page, in Unix time. If page_expiration is not set, the hosted page expires 14 days after creation.
                    Range: 1 minute to 30 days.
                  type: number
                force_camera:
                  description: "Requires the applicant to use the device's camera for a current face image, and prohibits uploading an existing image file. Default is 'false'."
                  type: boolean
              required: [reference_id, ewallet, contact]
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    properties:
                      id:
                        description: ID of the Hosted Page Identity Verification object, a string starting with hp_idv_.
                        example: hp_idv_b3dc7b11ff41a67317fd0e2a88ab40de
                        type: string
                      reference_id:
                        description: ID of the identity verification request. Must be unique for each request. Defined by the client.
                        type: string
                      wallet:
                        description: ID of the Rapyd Wallet. String starting with ewallet_.
                        example: ewallet_755b0fd11fd22b33328fff7d30f3ce30
                        type: string
                      contact:
                        description: ID of a wallet contact. String starting with cont_.
                        example: cont_c34bd6bfd9575f6f7b06647999a93126
                        type: string
                      country:
                        description: The two-letter ISO 3166-1 ALPHA-2 code for the country of the identification document.
                        type: string
                      request_type:
                        description: >
                          Determines the action that is taken on the request. One of the following:
                          store - Store the images on the Rapyd platform.
                          verify - Verify the identity of the person in the images.
                        type: string
                        enum:
                          - store
                          - verify
                      force_camera:
                        description: ID of the identity verification request. Must be unique for each request. Defined by the client.
                        type: boolean
                      document_type:
                        description: Type of identification document. Two-letter code.
                        type: string
                      status:
                        $ref: '#/components/schemas/HostedPageStatus'
                      complete_url:
                        description: URL where the customer is redirected after pressing Close to exit the hosted page. This URL overrides the merchant_website URL. Does not support localhost URLs.
                        type: string
                      org_id:
                        description: 'ID of the client.'
                        type: string
                      merchant_color:
                        description: Color of the call-to-action (CTA) button on the hosted page.
                        type: string
                      merchant_logo:
                        description: URL for the image of the client's logo.
                        type: string
                      merchant_website:
                        description: The URL where the customer is redirected after exiting the hosted page.
                        x-note: >
                          Relevant when one or both of the following fields is unset:
                          cancel_url
                          complete_url
                        type: string
                      merchant_customer_support:
                        description: 'Contains details of the client’s customer support. To configure these fields, use the Client Portal.'
                        properties:
                          email:
                            description: ''
                            type: string
                          url:
                            description: ''
                            type: string
                          phone_number:
                            description: ''
                            type: string
                        type: object
                      merchant_alias:
                        description: "Client's name. In the sandbox"
                        type: string
                      merchant_terms:
                        description: 'URL for the terms and conditions of the agreement between the client and the client’s customers. To configure this field, use the Client Portal. '
                        type: string
                      merchant_privacy_policy:
                        description: "URL for the client's privacy policy."
                        type: string
                      page_expiration:
                        description: End of the time when the customer can use the hosted page, in Unix time. If page_expiration is not set, the hosted page expires 14 days after creation.
                        type: number
                      redirect_url:
                        description: URL of the hosted page that is shown to the customer.
                        type: string
                      cancel_url:
                        description: URL where the customer is redirected after pressing Back to Website to exit the hosted page.
                        type: string
                      language:
                        description: Determines the default language of the hosted page
                        x-note: >
                          When this parameter is null, the language of the user's browser is used.
                          If the language of the user's browser cannot be determined, the default language is English.
                        type: string
                    type: object
                  status:
                    $ref: '#/components/schemas/Status'
          description: Hosted Page Identity Verification object
      summary: Create Identity Verification Page
      tags:
        - Hosted
  /v1/hosted/issuing/card_details/{cardToken}:
    post:
      description: Generate a hosted page that displays details of a virtual issued card directly to the customer. The URL is available for 24 hours after the response is sent, then it expires.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/display-issued-card-details-to-customer.html
      operationId: generateCardIssuingPage
      parameters:
        - description: ID of the Issued Card Details to Customer.
          example: ci_7a9e7ef54d174ff9fe23f66e425145d5
          explode: false
          in: path
          name: cardToken
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                card_color:
                  description: >
                    The color of the card, specified by one of the following formats:
                      hexadecimal value
                      CSS color name
                      RGB
                      RGBA
                      black
                  type: string
                language:
                  description: Determines the default language of the hosted page. When this parameter is null, the language of the user's browser is used. If the language of the user's browser cannot be determined, the default language is English
                  type: string
                logo:
                  description: The URL of the logo image that appears on the card. If the logo is not specified, the name of the merchant appears.
                  type: string
                logo_orientation:
                  description: >
                    The orientation of the logo on the card.:
                      landscape
                      square
                      portrait
                        Default value: landscape
                  type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HostedPageResponse'
                  status:
                    $ref: '#/components/schemas/Status'
          description: Display Issued Card Details to Customer.
      summary: Generate a hosted page that displays details of a virtual issued card directly to the customer.
      tags:
        - Hosted
  /v1/identities:
    post:
      description: Verification of the identity of a personal contact associated with a wallet..
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/identity-verification#verify-identity
      operationId: performIdentityVerification
      requestBody:
        content:
          application/json:
            schema:
              properties:
                back_side_image:
                  description: Base-64-encoded image of the back of the identity document.
                  type: string
                back_side_image_mime_type:
                  description: MIME type of the back side image of the identity document. Default is
                  type: string
                contact:
                  description: ID of a personal contact for a 'person' wallet.
                  type: string
                country:
                  $ref: '#/components/schemas/Country'
                document_type:
                  description: Type of the identification document. Two-letter code.
                  type: string
                ewallet:
                  description: ID of the Rapyd Wallet. String starting with ewallet_.
                  type: string
                face_image:
                  description: Base-64-encoded image of the face.
                  type: string
                face_image_mime_type:
                  description: MIME type of the face image. Default is image/jpeg.
                  type: string
                front_side_image:
                  description: Base-64-encoded image of the front of the identity document.
                  type: string
                front_side_image_mime_type:
                  description: MIME type of the front side image of the identity document. Default is image/jpeg.
                  type: string
                reference_id:
                  description: 'ID of the identity verification request. Must be unique for each request. Defined by the client. Maximum length: 36 characters. In sandbox, to simulate success or failure, the string must contain one of the following values: success, failure For example: 12345678success'
                  type: string
                request_type:
                  description: Determines the action that is taken on the request.
                  type: string
                send_callback:
                  description: Determines whether a webhook is sent with the results of the verification request.
                  type: string
              required:
                [country, document_type, ewallet, face_image, front_side_image, reference_id]
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    properties:
                      id:
                        description: ID Verification.
                        type: string
                      reference_id:
                        description: Organization Reference Token.
                        type: string
                    type: object
                  status:
                    $ref: '#/components/schemas/Status'

          description: Retrieve the Rapyd ID and merchant reference ID.
        '400':
          content:
            application/json:
              schema:
                example:
                  status:
                    error_code: ERROR_UPDATE_EWALLET_CONTACT
                    message: 'The request tried to update a business wallet contact, but there was a format error in the business details. The request was rejected. Corrective action: Provide all data in the correct format. See the API reference.'
                    response_code: ERROR_UPDATE_EWALLET_CONTACT
                    status: ERROR
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Bad Request. Customer was not found for given ID
      summary: Verify the identity of an individual or a personal contact for a 'person' wallet.
      tags:
        - Verify
  /v1/identities/types:
    get:
      description: Use this method to determine the types of documents to use for identification purposes, and also whether you need the reverse side of the document. You can filter your search results by country with the country query parameter.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/identity-verification#list-official-identification-documents
      operationId: getKycIdVerificationSupportedDocTypes
      parameters:
        - description: Two-letter ISO 3166-1 ALPHA-2 code for the country. Uppercase.
          example: US
          explode: false
          in: query
          name: country
          required: true
          schema:
            $ref: '#/components/schemas/Country'
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        country:
                          description: The two-letter ISO 3166-1 ALPHA-2 code for the country of the identification document.
                          type: string
                        type:
                          description: Type of the identification document. Two-letter code
                          type: string
                        name:
                          description: Name of the identification document. Two-letter code
                          type: string
                        is_back_required:
                          description: Boolean if back image required
                          type: boolean
                        is_address_extractable:
                          description: Boolean if address extractable
                          type: boolean
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: List Contacts for a Rapyd Wallet,
        '400':
          description: bad input parameter
        '500':
          description: Internal server error.
      summary: Retrieve a list of the types of official identification documents for a country.
      tags:
        - Verify
  /v1/invoices:
    get:
      summary: List Invoices
      tags:
        - Collect
      description: Retrieve the basic data of an invoice, with individual invoice lines.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/invoice#list-invoices
      operationId: listInvoices
      parameters:
        - description: ID of the customer. String starting with cus_.
          example: cus_753511a533a727cf28509812b4683edd
          explode: true
          in: query
          name: customer
          schema:
            $ref: '#/components/schemas/Customer'
          style: form
        - description: Date that the invoice was created.
          explode: true
          in: query
          name: date
          schema:
            type: string
          style: form
        - description: The date payment is due on this invoice. This value is calculated from the date the invoice is created, plus the number of days specified in the days_until_due field. Format is in Unix time.
          explode: true
          in: query
          name: due_date
          schema:
            type: string
          style: form
        - description: The ID of the invoice created after the last invoice you want to retrieve.
            card.
          explode: true
          in: query
          name: ending_before
          schema:
            type: string
          style: form
        - description: The maximum number of invoices to return. Range 1-100. Default is 10.
          explode: true
          in: query
          name: limit
          schema:
            type: string
          style: form
        - description: The ID of the invoice created before the first invoice you want to retrieve.
          explode: true
          in: query
          name: starting_after
          schema:
            type: string
          style: form
        - description: ID of the subscription. String starting with sub_.
          explode: true
          in: query
          name: subscription
          schema:
            type: boolean
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/InvoiceResponse'
                    type: array
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Invoices Fetched successfully
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
  /v1/invoices/{invoiceId}:
    get:
      summary: Retrieve Invoice
      tags:
        - Collect
      description: Retrieve the basic data of an invoice, with individual invoice lines.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/invoice#retrieve-invoice
      operationId: retrieveInvoice
      parameters:
        - description: The ID of the invoice that you want to retrieve.
          example: invoice_8a7200327e12b98cf5b038a3fdb2f642
          name: invoiceId
          explode: false
          in: path
          required: true
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Invoice Fetched successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/InvoiceResponse'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
    post:
      summary: Update Invoice
      tags:
        - Collect
      description: Change or modify an invoice. You can modify the invoice when its status is draft.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/invoice#update-invoice
      operationId: updateInvoice
      parameters:
        - description: The ID of the invoice that you want to updated.
          example: invoice_8a7200327e12b98cf5b038a3fdb2f642
          name: invoiceId
          explode: false
          in: path
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                days_until_due:
                  description: The number of days until the due date.
                  type: number
                description:
                  description: Description of the invoice.
                  type: string
                due_date:
                  description: The date payment is due on this invoice. This value is calculated from the date the invoice is created, plus the number of days specified in the days_until_due field. Format is in Unix time.
                  type: string
                metadata:
                  description: A JSON object defined by the client.
                  type: object
                payment_fields:
                  description: Object containing additional payment_options fields.
                  type: object
                statement_descriptor:
                  description: Description of the invoice for the customer's credit card statement. Limited to 22 characters.
                  type: string
                tax_percent:
                  description: The tax rate, defined as a percentage.
                  type: number
      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/InvoiceResponse'
                    type: object
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
    delete:
      summary: Delete Invoice
      tags:
        - Collect
      description: Delete an invoice. You can delete an invoice when status is draft.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/invoice#delete-invoice
      operationId: deleteInvoice
      parameters:
        - description: The ID of the invoice that you want to delete.
          example: invoice_8a7200327e12b98cf5b038a3fdb2f642
          name: invoiceId
          explode: false
          in: path
          required: true
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Invoice deleted successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      deleted:
                        type: boolean
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
  /v1/invoices/{invoiceId}/finalize:
    post:
      tags:
        - Collect
      summary: Finalize Invoice
      description: Finalize an invoice.Invoices are initially created with a draft status, and this is the only state in which an invoice can be finalized. When an invoice is ready to be paid, finalize it. This sets its status to open. Subscriptions automatically create draft invoices during each billing cycle, which are then automatically finalized. When an invoice is finalized, it can no longer be deleted and its final status can be one of the following - Paid Uncollectible* Void. An invoice can be finalized only one time.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/invoice#finalize-invoice
      operationId: finalizeInvoice
      parameters:
        - description: ID of the invoice you want to pay.
          example: invoice_8a7200327e12b98cf5b038a3fdb2f642
          name: invoiceId
          explode: false
          in: path
          required: true
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Finalized Invoice,
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  data:
                    $ref: '#/components/schemas/InvoiceResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
  /v1/invoices/{invoiceId}/pay:
    post:
      summary: payInvoice
      tags:
        - Collect
      description: Make a payment against an invoice.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/invoice#pay-invoice
      operationId: payInvoice
      parameters:
        - description: ID of the invoice you want to pay.
          example: invoice_8a7200327e12b98cf5b038a3fdb2f642
          name: invoiceId
          explode: false
          in: path
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                payment_method:
                  description: ID of the payment method for paying the invoice. If not included in the body, then the customer's default_payment_method is used.
                  type: string
      responses:
        '200':
          description: The Invoice
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/InvoiceResponse'
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
  /v1/virtual_accounts:
    post:
      description: Issue a virtual account number to an existing wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/virtual-account#issue-virtual-account-number-to-wallet
      operationId: createIssuing
      requestBody:
        content:
          application/json:
            schema:
              properties:
                country:
                  description: The country that the account number will be associated
                    with. Two-letter ISO 3166-1 ALPHA-2 code. Uppercase.
                  type: string
                currency:
                  description: Currency of the account. Three-letter ISO 4217 code.
                  type: string
                description:
                  description: Description of the account.
                  type: string
                ewallet:
                  description: ID of the wallet the bank account number is issued
                    to. String starting with ewallet_.
                  type: string
                merchant_reference_id:
                  description: ID of this account, as provided by the merchant. Limited
                    to 45 characters.
                  type: string
                metadata:
                  description: A JSON object defined by the client.
                  type: object
                requested_currency:
                  description:
                    '*Currency received by the virtual account after conversion. Uppercase. One of the following:
                    AUD - Australian Dollar
                    EUR - Euro
                    GBP - Pound Sterling
                    HKD - Hong Kong Dollar
                    SGD - Singapore Dollar
                    USD - US Dollar
                    When not specified, the funds appear in the wallet’s currency account for the currency of the transaction.*'
                  type: string
              type: object
              required: [country, currency, ewallet]
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      bank_account:
                        description: Issuied virtual account.
                        type: object
                      currency:
                        description: Currency of the account. Three-letter ISO 4217
                          code.
                        type: string
                      description:
                        description: Description of the account.
                        type: string
                      ewallet:
                        description: ID of the wallet the bank account number is issued
                          to. String starting with ewallet_.
                        type: string
                      funding_instructions:
                        description: Issuied virtual account funding instructions.
                        type: object
                      id:
                        description: The country that the account number will be associated
                          with. Two-letter ISO 3166-1 ALPHA-2 code. Uppercase.
                        type: string
                      merchant_reference_id:
                        description: ID of this account, as provided by the merchant.
                          Limited to 45 characters.
                        type: string
                      metadata:
                        description: A JSON object defined by the client.
                        type: object
                      status:
                        description: Issuied virtual account statuts.
                        type: string
                      transactions:
                        description: Issuied virtual account transactions.
                        items:
                          $ref: '#/components/schemas/CardTransaction'
                        type: array
                      requested_currency:
                        description:
                          '*Currency received by the virtual account after conversion. Uppercase. One of the following:
                          AUD - Australian Dollar
                          EUR - Euro
                          GBP - Pound Sterling
                          HKD - Hong Kong Dollar
                          SGD - Singapore Dollar
                          USD - US Dollar
                          When not specified, the funds appear in the wallet’s currency account for the currency of the transaction.*'
                        type: string
                    type: object
                  status:
                    $ref: '#/components/schemas/Status'
                type: object
          description: Virtual Account
        '400':
          description: bad input parameter
        '500':
          description: Internal server error.
      summary: Issue Virtual Account Number to Wallet
      tags:
        - Issuing
  /v1/virtual_accounts/transactions:
    post:
      description: Simulate a deposit to a virtual account number that was issued to
        a wallet. This method is relevant only for testing in the sandbox. The currency
        of the transfer must be supported by the specific virtual account. This method
        triggers the Deposit Completed webhook.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/virtual-account#simulate-a-bank-transfer-to-a-wallet
      operationId: simulateCompleteBankAccountIssuingTransaction
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  description: The amount of the transaction, in units of the currency
                    defined in currency. Decimal, including the correct number of
                    decimal places for the currency exponent, as defined in ISO 2417:2015.
                    If the amount is a whole number, use an integer and not a decimal.
                  type: string
                currency:
                  description: Currency of the transaction. Three-letter ISO 4217
                    code. Must be the same as the currency of the virtual account.
                  type: string
                issued_bank_account:
                  description: ID of the Virtual Account Number object. String starting
                    with issuing_
                  type: string
              required: [currency, issued_bank_account, amount]
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        description: ID of the issued card transaction object. String starting with
                          cit_.
                        type: string
                      merchant_reference_id:
                        description: ID of this account, as provided by the merchant.
                          Limited to 45 characters.
                        type: string
                      ewallet:
                        description: ID of the wallet the bank account number is issued to. String starting with ewallet_.
                        type: string
                      bank_account:
                        description: Issuied virtual account.
                        type: object
                        nullable: true
                      metadata:
                        description: A JSON object defined by the client.
                        type: object
                      status:
                        description: Issuied virtual account statuts.
                        type: string
                      description:
                        description: Description of the account.
                        type: string
                      funding_instructions:
                        description: Issued virtual account funding instructions.
                        type: object
                      currency:
                        description: Currency of the transaction. Three-letter ISO 4217.
                        type: string
[...]
