openapi: 3.0.0
info:
  title: Rapyd API
  description: "This is a Beta release of the OpenAPI specification for Rapyd's API\
    \ methods. It is recommended to initially run the methods in the sandbox environment.\
    \ For the most uptodate documentation of Rapyd's methods, see the [online API\
    \ Reference](https://docs.rapyd.net/en/index-en.html)."
  contact:
    email: rapyd_support@rapyd.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.9
servers:
- url: https://sandboxapi.rapyd.net/
  description: Sandbox server
- url: https://api.rapyd.net/
  description: Production server
paths:
  /v1/account/transfer:
    post:
      tags:
      - eWallets
      summary: Transfer Funds Between Wallets
      description: Transfer funds between Rapyd Wallets.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/transfer-funds-between-wallets.html
      operationId: fundsTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_transfer_body'
        required: true
      responses:
        "200":
          description: Transaction properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /v1/account/transfer/response:
    post:
      tags:
      - eWallets
      summary: Set Transfer Response
      description: Respond to a funds transfer between wallets. The transferee uses
        this method to accept or decline the transfer.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/set-transfer-response.html
      operationId: setFundsTransferResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfer_response_body'
        required: true
      responses:
        "200":
          description: Transaction properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /v1/ewallets/{ewalletId}/contacts:
    get:
      tags:
      - eWallets
      summary: List Contacts for a Rapyd Wallet
      description: Retrieve all contacts for a wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-contacts-for-a-rapyd-wallet.html
      operationId: getEwalletContacts
      parameters:
      - name: ewalletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    post:
      tags:
      - eWallets
      summary: Add Contact to Wallet
      description: Add a personal contact to a company wallet or client wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/add-contact-to-wallet.html
      operationId: createEwalletContact
      parameters:
      - name: ewalletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ewalletId_contacts_body'
        required: true
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_1'
  /v1/ewallets/{ewalletId}/contacts/{contactId}:
    get:
      tags:
      - eWallets
      summary: Retrieve Wallet Contact.
      description: Retrieve a contact for an existing Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-wallet-contact.html
      operationId: getEwalletContact
      parameters:
      - name: ewalletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      - name: contactId
        in: path
        description: One of two values. either ID of the contact - String starting
          with the prefix **cont_** or Contact reference ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Retrieve a contact for an existing Rapyd Wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_2'
    post:
      tags:
      - eWallets
      summary: Update Wallet Contact
      description: Update a contact for a Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-wallet-contact.html#update-wallet-contact
      operationId: updateEwalletContact
      parameters:
      - name: ewalletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      - name: contactId
        in: path
        description: ID of the contact. String starting with the prefix **cont_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        "200":
          description: Retrieve a contact for an existing Rapyd Wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_3'
    delete:
      tags:
      - eWallets
      summary: Delete Wallet Contact
      description: Delete a personal contact from a company wallet or client wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-wallet-contact.html
      operationId: deleteEwalletContact
      parameters:
      - name: ewalletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      - name: contactId
        in: path
        description: ID of the contact. String starting with the prefix **cont_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Retrieve a contact for an existing Rapyd Wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_4'
  /v1/ewallets/{ewalletId}/contacts/{contactId}/compliance_levels:
    get:
      tags:
      - eWallets
      summary: Get the compliance status of a personal contact.
      description: Verify the compliance status of a personal contact.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-wallet-contact.html#update-wallet-contact
      operationId: getEwalletContactComplianceLevels
      parameters:
      - name: ewalletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      - name: contactId
        in: path
        description: ID of the contact. String starting with **cont_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Verify the compliance status of a personal contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_5'
  /v1/virtual_accounts:
    post:
      tags:
      - Virtual Accounts
      summary: Issue Virtual Account Number to Wallet
      description: Issue a virtual account number to an existing wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/issue-virtual-account-to-wallet.html
      operationId: createVirtualAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_virtual_accounts_body'
        required: true
      responses:
        "200":
          description: Virtual Accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
  /v1/virtual_accounts/transactions:
    post:
      tags:
      - Virtual Accounts
      summary: Simulate a Bank Transfer to a Wallet
      description: Simulate a deposit to a virtual account number that was issued
        to a wallet. This method is relevant only for testing in the sandbox. The
        currency of the transfer must be supported by the specific virtual account.
        This method triggers the Deposit Completed webhook.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/simulate-a-bank-transfer-to-a-virtual-account.html
      operationId: simulateBankTransferToVirtualAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/virtual_accounts_transactions_body'
        required: true
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
  /v1/virtual_accounts/{virtualAccountId}:
    get:
      tags:
      - Virtual Accounts
      summary: Retrieve Virtual Account History
      description: Retrieve a Virtual Account Number object for a wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-virtual-account-history.html
      operationId: retrieveVirtualAccount
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the Virtual Account Number object. String starting with
          issuing_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      responses:
        "200":
          description: Virtual Accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
    post:
      tags:
      - Virtual Accounts
      description: Update Receiving Currency
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-requested-currency.html
      operationId: updateIssuingByRapydToken
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the Virtual Account Number object. String starting with
          issuing_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/virtual_accounts_virtualAccountId_body'
        required: true
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
    delete:
      tags:
      - Virtual Accounts
      summary: Close VA
      description: Delete a virtual account number of an existing wallet. In order
        to close a virtual account its status must be ACT.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-virtual-account-history.html
      operationId: closeIssuing
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the virtual account. String starting with issuing_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      responses:
        "200":
          description: Virtual Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
  /v1/virtual_accounts/{virtualAccountId}/transactions/{transactionId}:
    get:
      tags:
      - Virtual Accounts
      summary: Retrieve Virtual Account Transaction
      description: Retrieve a virtual account transaction.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-virtual-account-transaction.html
      operationId: retrieveVirtualAccountTransaction
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the Virtual Account Number object. String starting with
          issuing_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      - name: transactionId
        in: path
        description: "ID of the transaction, as appears in the array of transactions\
          \ in the response to 'Retrieve Virtual Account History'."
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: isutran_59599bcba9ab9c79113f88cade1ed655
      responses:
        "200":
          description: List Contacts for a Rapyd Wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
  /v1/payout_methods/{pomt}/required_fields:
    get:
      tags:
      - Disburse
      summary: Get Payout Required Fields
      description: |-
        Retrieve the fields required to use a payout method type. The fields are returned as an array of objects. The name of each field appears in the name field of each object. Use this information for Create Payout, Create Beneficiary and Create Sender.
         Note: The fields returned by this method are required when you create a payout. If you create a payout with a sender or beneficiary that was created previously, you are responsible for choosing a sender and beneficiary that have all the fields required by the payout method.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/payout-method-type.html
      operationId: getPayoutMethodTypesDetails
      parameters:
      - name: pomt
        in: path
        description: The type of the payout method. Set to the name of a payout method
          listed in the response to List Payout Method Types. The two-letter prefix
          must match the beneficiary country code.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: us_visa_card
      - name: beneficiary_country
        in: query
        description: Country of the beneficiary. Two-letter ISO 3166-1 ALPHA-2 code.
          Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: US
      - name: beneficiary_entity_type
        in: query
        description: "Type of entity for the beneficiary. One of the following, **individual**\
          \ | **company**"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: company
      - name: payout_amount
        in: query
        description: "Amount of the payout, in units of the currency that the beneficiary\
          \ is receiving. Decimal."
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: payout_currency
        in: query
        description: Currency received by the beneficiary. Three-letter ISO 4217 code.
          Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: USD
      - name: sender_country
        in: query
        description: Country of the sender. Two-letter ISO 3166-1 ALPHA-2 code. Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: US
      - name: sender_currency
        in: query
        description: Currency that the sender is paying with. Three-letter ISO 4217
          code. Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: USD
      - name: sender_entity_type
        in: query
        description: "Type of entity for the sender. One of the following: **individual**\
          \ | **company**"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: company
      responses:
        "200":
          description: payout method types details fetched successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "500":
          description: Internal server error.
  /v1/payouts:
    get:
      tags:
      - Disburse
      summary: List Payouts
      description: Retrieve a list of payouts that you created.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-payouts.html
      operationId: listPayouts
      parameters:
      - name: beneficiary
        in: query
        description: Filters according to the beneficiary ID. String starting with
          **beneficiary_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: beneficiary_504f2e8d5618dfaa4a6e73c632f3029b
      - name: created_after
        in: query
        description: The ID of the payout created before the first payout you want
          to retrieve. String starting with **payout_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: created_before
        in: query
        description: The ID of the payout created after the last payout you want to
          retrieve. String starting with **payout_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: ending_before
        in: query
        description: The ID of a payout in the list. The list ends with the payout
          that was created before the payout with this ID. Use this filter to get
          the previous page of results. String starting with **payout_**. Deprecated.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: ewallet
        in: query
        description: Filters according to the wallet ID. String starting with **ewallet_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ewallet_61be0e6ad9f57121cff47a63902282ac
      - name: limit
        in: query
        description: "The maximum number of payouts to return. Range: 1-100. Default\
          \ is 10."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "2"
      - name: merchant_reference_id
        in: query
        description: Filters according to the merchant reference ID.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      - name: payout_method_type
        in: query
        description: Filters according to the type of payout method. The two-letter
          prefix must match the beneficiary country code.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ph_cebuana_lhuillier_cash
      - name: sender
        in: query
        description: Filters according to the sender ID. String starting with **sender_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: sender_ba47352b13411b7fc9d6654b953de832
      - name: sender_country
        in: query
        description: Filters according to the country of the sender. Two-letter ISO
          3166-1 ALPHA-2 code.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Country'
        example: PH
      - name: sender_currency
        in: query
        description: Filters according to the currency that the sender is paying with.
          Three-letter ISO 4217 code.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Currency'
        example: PHP
      - name: starting_after
        in: query
        description: The ID of a payout in the list. The list begins with the payout
          that was created next after the payout with this ID. Use this filter to
          get the next page of results. Relevant when ending_before is not used. String
          starting **payout_**. Deprecated
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ""
      responses:
        "200":
          description: Payouts Fetched Successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "500":
          description: Internal server error
    post:
      tags:
      - Disburse
      summary: Create Payout
      description: |-
        Create a payout (disbursement).
        This method triggers the Payout Created webhook. This webhook contains the same information as the response. If the action of a third party is not required, the Payout Completed webhook is also triggered.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-payout.html
      operationId: createPayout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_payouts_body'
        required: true
      responses:
        "200":
          description: payout created successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "500":
          description: Internal server error
  /v1/payouts/beneficiary:
    post:
      tags:
      - Disburse
      summary: Create Beneficiary
      description: |-
        Create a beneficiary for use in payouts.
        The response provides a unique beneficiary ID, which you can use in place of the Beneficiary object for Create Payout.
        This method triggers the Beneficiary Created webhook. This webhook contains the same information as the response.
        Note: In addition to the required fields documented below, you must include all other beneficiary fields listed in the response to Get Payout Required Fields, and you must conform to the regex provided.
        To create a beneficiary that you can use with multiple payout methods, include all fields that are required by each payout method.
        The client is responsible for including all required fields.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-beneficiary.html#create-beneficiary
      operationId: createBeneficiary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payouts_beneficiary_body'
        required: true
      responses:
        "200":
          description: Beneficiary Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "500":
          description: Internal server error
  /v1/payouts/extended_beneficiary:
    post:
      tags:
      - Disburse
      summary: Create Extended Beneficiary
      description: "Create a beneficiary that includes all compliance related data\
        \ for payouts. The response provides a unique beneficiary ID, which you can\
        \ use in place of the beneficiary object for Create Payout"
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-extended-beneficiary.html
      operationId: createExtendedBeneficiary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payouts_extended_beneficiary_body'
        required: true
      responses:
        "200":
          description: Beneficiary Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "500":
          description: Internal server error
  /v1/payouts/beneficiary/validate:
    post:
      tags:
      - Disburse
      summary: Validate Beneficiary
      description: "Validate the format of the details for a payout beneficiary. You\
        \ can validate a beneficiary multiple times for different payout methods.\
        \ You can enter a Beneficiary object or a previously created beneficiary ID.\
        \ \n Note: In addition to the required fields for Create Beneficiary, the\
        \ Beneficiary object must include all required fields for the beneficiary\
        \ listed in the response to Get Payout Required Fields. The examples include\
        \ additional fields for the 'us_ach_bank' payout method."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/validate-beneficiary.html#validate-beneficiary
      operationId: validateBeneficiary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beneficiary_validate_body'
        required: true
      responses:
        "200":
          description: Beneficiary validated successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "500":
          description: Internal server error.
  /v1/payouts/beneficiary/{beneficiaryId}:
    get:
      tags:
      - Disburse
      summary: Retrieve Beneficiary
      description: "Retrieve details of a payout beneficiary. \n Note: The 'Retrieve\
        \ Beneficiary - individual' response includes additional fields for the 'ca_general_bank'\
        \ payout method. The 'Retrieve Beneficiary - company' response includes additional\
        \ fields for the 'us_ach_bank' payout method."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-beneficiary.html
      operationId: getBeneficiary
      parameters:
      - name: beneficiaryId
        in: path
        description: ID of the 'beneficiary' object. String starting with **beneficiary_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: beneficiary_008d839a9d5726ba014c3ccb21c59920
      responses:
        "200":
          description: Beneficiary retrieved successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "500":
          description: Internal server error.
    delete:
      tags:
      - Disburse
      summary: Delete Beneficiary
      description: Delete a payout beneficiary from the Rapyd platform.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-beneficiary.html
      operationId: deleteBeneficiary
      parameters:
      - name: beneficiaryId
        in: path
        description: ID of the 'beneficiary' object. String starting with **beneficiary_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: beneficiary_008d839a9d5726ba014c3ccb21c59920
      responses:
        "200":
          description: Beneficiary deleted successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "500":
          description: Internal server error.
  /v1/payouts/complete/{payoutToken}/{amount}:
    post:
      tags:
      - Disburse
      summary: Complete the Payout
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/complete-payout.html#complete-payout
      operationId: simulateCompletePayout
      parameters:
      - name: payoutToken
        in: path
        description: ID of the payout. String starting with **payout_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payout_548969fc5a0bf89da3cec70a1529338c
      - name: amount
        in: path
        description: "The payout amount. Decimal, including the correct number of\
          \ decimal places for the currency exponent, as defined in ISO 2417:2015."
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: 10
      responses:
        "200":
          description: The `Retrieve Sender - individual` response includes additional
            fields for the `ca_general_bank` payout method. The `Retrieve Sender -
            company` response includes an additional field for the `us_ach_bank` payout
            method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "500":
          description: Internal server error.
  /v1/payouts/confirm/{payoutToken}:
    post:
      tags:
      - Disburse
      summary: Confirm Payout that involves foreign exchange
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/confirm-payout-with-fx.html
      operationId: confirmPayout
      parameters:
      - name: payoutToken
        in: path
        description: ID of the payout. String starting with **payout_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payout_548969fc5a0bf89da3cec70a1529338c
      responses:
        "200":
          description: The `Retrieve Sender - individual` response includes additional
            fields for the `ca_general_bank` payout method. The `Retrieve Sender -
            company` response includes an additional field for the `us_ach_bank` payout
            method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "400":
          description: Bad Request. Payout not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_6'
        "500":
          description: Internal server error.
  /v1/payouts/sender:
    post:
      tags:
      - Disburse
      summary: Create Sender
      description: |-
        Create a sender for use in payouts.
        The response provides a unique sender ID, which you can use in place of the sender object for Create Payout.
        Note: In addition to the required fields documented below, you must include all other sender fields listed in the response to Get Payout Required Fields, and you must conform to the regex provided.
        To create a sender that you can use with multiple payout methods, include all fields that are required by each payout method.
        The client is responsible for including all required fields.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-sender.html
      operationId: createSender
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payouts_sender_body'
        required: true
      responses:
        "200":
          description: Sender Created Successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        "500":
          description: Internal server error
  /v1/payouts/sender/{senderId}:
    get:
      tags:
      - Disburse
      summary: Retrieve details of a payout sender.
      description: "Note: The Retrieve Sender - individual response includes additional\
        \ fields for the **ca_general_bank** payout method. The Retrieve Sender -\
        \ company response includes an additional field for the **us_ach_bank** payout\
        \ method."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-sender.html
      operationId: getPayer
      parameters:
      - name: senderId
        in: path
        description: ID of the Sender object. String starting with **sender_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: sender_548969fc5a0bf89da3cec70a1529338c
      responses:
        "200":
          description: The 'Retrieve Sender - individual' response includes additional
            fields for the 'ca_general_bank' payout method. The 'Retrieve Sender -
            company' response includes an additional field for the **us_ach_bank**
            payout method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        "400":
          description: Bad Request. Sender not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_7'
        "500":
          description: Internal server error.
    delete:
      tags:
      - Disburse
      summary: Delete Sender
      description: Delete a payout sender from the Rapyd platform.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-sender.html
      operationId: deletePayer
      parameters:
      - name: senderId
        in: path
        description: ID of the `sender` object. String starting with **sender_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: sender_b9342620e3eb13164286485bbff9eb7b
      responses:
        "200":
          description: Sender deleted successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        "500":
          description: Internal server error.
  /v1/payout_methods:
    get:
      tags:
      - Disburse
      summary: List Payout Method Types
      description: Retrieve a list of payout method types that you can use when creating
        a payout. The response contains a list of objects. Each object includes a
        payout method type and its attributes.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-payout-method-types.html
      operationId: getPayoutMethodTypes
      parameters:
      - name: sender_entity_type
        in: query
        description: "Filters the type of entity for the payer. One of the following:\
          \ **individual** | **company**"
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: company
      - name: beneficiary_country
        in: query
        description: Country of the beneficiary. Two-letter ISO 3166-1 ALPHA-2 code.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: US
      - name: payout_currency
        in: query
        description: Currency received by the beneficiary. Three-letter ISO 4217 code.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: USD
      - name: sender_currency
        in: query
        description: Currency that the sender is paying with. Three-letter ISO 4217
          code.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: USD
      - name: sender_country
        in: query
        description: "Country of the sender. Two-letter ISO 3166-1 ALPHA-2 code. Note:\
          \ This field does not appear in the response."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: US
      - name: beneficiary_entity_type
        in: query
        description: "Filters the type of entity for the beneficiary. One of the following:\
          \ **individual** | **company**"
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: individual
      - name: category
        in: query
        description: "The category of payout method. One of the following: bank, card,\
          \ cash, rapyd_ewallet, ewallet"
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: bank
      - name: is_cancelable
        in: query
        description: Indicates whether the payout can be canceled. Relevant when category
          is cash.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: is_location_specific
        in: query
        description: Indicates whether the payout must be made at a specific physical
          location. Relevant when category is cash.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: is_expirable
        in: query
        description: Indicates whether the payout expires if not completed. Relevant
          when category is cash.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: starting_after
        in: query
        description: The name of a payout method in the list. The list begins with
          the record that was created next after the record with this payout method.
          Use this filter to get the next page of results. Relevant when ending_before
          is not used.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ending_before
        in: query
        description: The name of a payout method in the list. The list ends with the
          last record that was created before the record with this payout method.
          Use this filter to get the previous page of results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of payout methods to return. Range: 1-100.\
          \ Default is 10."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 5
      responses:
        "200":
          description: payout method types fetched successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        "500":
          description: Internal server error.
  /v1/payouts/{payoutId}:
    get:
      tags:
      - Disburse
      summary: Retrieve Payout
      description: Retrieve the details of a payout.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-payout.html
      operationId: getPayout
      parameters:
      - name: payoutId
        in: path
        description: ID of the payout. String starting with **payout_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payout_548969fc5a0bf89da3cec70a1529338c
      responses:
        "200":
          description: Payout object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "400":
          description: Bad Request. Payout not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_8'
        "500":
          description: Internal server error.
    post:
      tags:
      - Disburse
      summary: Update Payout
      description: Change or modify a payout. This method triggers the Payout Updated
        webhook. This webhook contains the same information as the response.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-payout.html
      operationId: updatePayout
      parameters:
      - name: payoutId
        in: path
        description: ID of the payout. String starting with **payout_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payout_548969fc5a0bf89da3cec70a1529338c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payouts_payoutId_body'
        required: true
      responses:
        "200":
          description: payout updated successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
        "500":
          description: Internal server error.
    delete:
      tags:
      - Disburse
      summary: Cancel Payout
      description: |-
        The payout can be canceled unless its status is confirmation or completed.
        This method triggers the Payout Canceled webhook. This webhook contains the same information as the response.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/cancel-payout.html
      operationId: cancelPayout
      parameters:
      - name: payoutId
        in: path
        description: ID of the payout. String starting with **payout_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payout_548969fc5a0bf89da3cec70a1529338c
      responses:
        "200":
          description: payout canceled successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "500":
          description: Internal server error.
  /v1/fx_rate:
    get:
      tags:
      - FX
      summary: Get FX Rate
      description: Retrieve a daily rate for conversion of currencies in payments
        and payouts. Rapyd uses a snapshot of daily foreign exchange rates fetched
        at 9 PM UTC. The rate returned includes the FX markup fees.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/get-fx-rate.html
      operationId: getDailyRate
      parameters:
      - name: action_type
        in: query
        description: "Determines the type of transaction that the currency exchange\
          \ applies to. One of the following - payment, payout"
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: amount
        in: query
        description: "Amount of the currency exchange transaction, in units of the\
          \ fixed-side currency in Decimal."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: decimal
      - name: buy_currency
        in: query
        description: Defines the currency purchased in the currency exchange transaction.
          Three-letter ISO 4217 code in Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date
        in: query
        description: The date when the rate is applicable. Today or earlier. Format
          YYYY-MM-DD
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: fixed_side
        in: query
        description: "Indicates whether the rate is fixed for the currency defined\
          \ by buy_currency or sell_currency. One of the following - buy, sell."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sell_currency
        in: query
        description: Defines the currency sold in the currency exchange transaction.
          Three-letter ISO 4217 code in Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Retrieve fixed daily rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
  /v1/ewallets:
    get:
      tags:
      - eWallets
      summary: List eWallets.
      description: Retrieve a list of Rapyd Wallets. You can filter the list with
        query parameters.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-wallets.html
      operationId: getUsers
      parameters:
      - name: phone_number
        in: query
        description: Phone number of the Rapyd Wallet in E.164 format.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: email
        in: query
        description: Email address of the wallet owner.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: ewallet_reference_id
        in: query
        description: Wallet ID defined by the customer or end user.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: page_number
        in: query
        description: "Page number to retrieve. If `page_number` is not specified,\
          \ page 1 is retrieved."
        required: false
        style: form
        explode: false
        schema:
          type: number
      - name: page_size
        in: query
        description: Number of results per page.
        required: false
        style: form
        explode: false
        schema:
          type: number
      - name: type
        in: query
        description: "Type of wallet - company, person, client."
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: min_balance
        in: query
        description: ""
        required: false
        style: form
        explode: false
        schema:
          type: number
      - name: currency
        in: query
        description: ""
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "List of eWallets,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
        "400":
          description: bad input parameter
    post:
      tags:
      - eWallets
      summary: Create Wallet
      description: Create a Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-wallet.html
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_ewallets_body'
        required: true
      responses:
        "200":
          description: Rapyd wallet created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/ewallets/{ewalletToken}:
    get:
      tags:
      - eWallets
      summary: Retrieve Wallet
      description: Retrieve the details of a Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-wallet.html
      operationId: getUser
      parameters:
      - name: ewalletToken
        in: path
        description: ID of the wallet. String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_95feaa629caa5ef64c49e5c24b29171d
      responses:
        "200":
          description: Retrieve the details of a Rapyd Wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
    post:
      tags:
      - eWallets
      summary: Update Wallet
      description: Change or modify a Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-wallet.html
      operationId: updatedUser
      parameters:
      - name: ewalletToken
        in: path
        description: ID of the wallet. String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ewallets_ewalletToken_body'
        required: true
      responses:
        "200":
          description: "Created Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
    delete:
      tags:
      - eWallets
      summary: Delete a Wallet.
      description: Delete a Rapyd Wallet. Use this method when the wallet has never
        been used. This method triggers the Wallet Deleted webhook. This webhook contains
        the same information as the response.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-wallet.html
      operationId: deleteUser
      parameters:
      - name: ewalletToken
        in: path
        description: ID of the wallet. String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Wallet was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
        "400":
          description: bad input parameter
  /v1/ewallets/{ewalletToken}/statuses/{status}:
    post:
      tags:
      - eWallets
      summary: Change Wallet status
      description: Change Wallet Status
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/change-wallet-status.html
      operationId: updateEwalletStatus
      parameters:
      - name: ewalletToken
        in: path
        description: ID of the Rapyd Wallet. String starting with **ewallet_**. Required
          when phone number is not used.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: status
        in: path
        description: "Status of the wallet. One of the following: ACT - Active, DIS\
          \ - Disabled, CLO - Close."
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - ACT
          - DIS
          - CLO
      responses:
        "200":
          description: Operations status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/ewallets/{walletId}/account/limits:
    post:
      tags:
      - eWallets
      summary: Set Wallet Account Limit
      description: Set the maximum balance limit or the minimum balance threshold
        for an existing wallet account.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/set-wallet-account-limit.html
      operationId: setAccountLimit
      parameters:
      - name: walletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_limits_body'
      responses:
        "200":
          description: List Contacts for Rapyd Wallet Accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
    delete:
      tags:
      - eWallets
      summary: Delete a coupon from the Rapyd platform
      description: Delete a limit on a wallet account.
      operationId: removeAccountLimit
      parameters:
      - name: walletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      responses:
        "200":
          description: Coupon was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/ewallets/{walletId}/accounts:
    get:
      tags:
      - eWallets
      summary: Retrieve Wallet Balances
      description: Retrieve details of the balances in a Rapyd Wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-balances-of-wallet-accounts.html
      operationId: getUserAccounts
      parameters:
      - name: walletId
        in: path
        description: ID of the Rapyd Wallet that this contact is associated with.
          String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_16feaaa27c852f30214dd7b3b359e88c
      responses:
        "200":
          description: "List accounts related to the Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/ewallets/{walletId}/transactions:
    get:
      tags:
      - eWallets
      summary: List Wallet Transactions
      description: Retrieve a list of all transactions related to a wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-wallet-transactions.html
      operationId: getUserTransactions
      parameters:
      - name: walletId
        in: path
        description: ID of the wallet. String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_95feaa629caa5ef64c49e5c24b29171d
      - name: balance
        in: query
        description: The updated wallet balance after successful completion of the
          transaction.
        required: true
        style: form
        explode: false
        schema:
          type: number
        example: 3422
      - name: currency
        in: query
        description: Three-letter ISO 4217 code for the currency of the transactions.
          Uppercase.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 1608796554
      - name: end_date
        in: query
        description: "Timestamp of the last transaction or later, in Unix time."
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 1000
      - name: ending_before
        in: query
        description: The ID of the wallet transaction created after the last wallet
          transaction you want to retrieve. String starting with **wt_**.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: wt_dc03d2d4d73bbdfb30cc0def279d9ed9
      - name: page_number
        in: query
        description: Page number to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 23
      - name: page_size
        in: query
        description: Number of results per page.
        required: true
        style: form
        explode: false
        schema:
          type: string
        example: 20
      - name: start_date
        in: query
        description: "Timestamp of the first transaction or earlier, in Unix time."
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 1608796554
      - name: starting_after
        in: query
        description: The ID of the wallet transaction created before the first wallet
          transaction you want to retrieve. String starting with **wt_**.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: wt_dc03d2d4d73bbdfb30cc0def279d9ed9
      - name: type
        in: query
        description: Type of transaction.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: payout_funds_in
      responses:
        "200":
          description: List of all transactions related to a wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/ewallets/{walletId}/transactions/{transactionId}:
    get:
      tags:
      - eWallets
      summary: Get Details of Wallet Transaction
      description: Retrieve the details of a wallet transaction.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-details-of-wallet-transaction.html
      operationId: getUserTransactionDetails
      parameters:
      - name: walletId
        in: path
        description: ID of the wallet. String starting with **ewallet_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: ewallet_95feaa629caa5ef64c49e5c24b29171d
      - name: transactionId
        in: path
        description: "ID of the transaction, from the response to List Wallet Transactions.\
          \ String starting with wt_."
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: wt_8029af385b9614ac6e70f44aea3383b8
      responses:
        "200":
          description: Retrieve the details of a wallet transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/fx_rates/:
    get:
      tags:
      - eWallets
      summary: Resource Methods
      description: Retrieve a daily rate for conversion of currencies in payments
        and payouts. Rapyd uses a snapshot of daily foreign exchange rates fetched
        at 9 PM UTC. The rate returned includes the FX markup fees.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/get-fx-rate.html
      operationId: getFXRate
      parameters:
      - name: action_type
        in: query
        description: "Determines the type of transaction that the currency exchange\
          \ applies to. One of the following - payment, payout"
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: amount
        in: query
        description: "Amount of the currency exchange transaction, in units of the\
          \ fixed-side currency in Decimal."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: decimal
      - name: buy_currency
        in: query
        description: Defines the currency purchased in the currency exchange transaction.
          Three-letter ISO 4217 code in Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: date
        in: query
        description: The date when the rate is applicable. Today or earlier. Format
          YYYY-MM-DD
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: fixed_side
        in: query
        description: "Indicates whether the rate is fixed for the currency defined\
          \ by buy_currency or sell_currency. One of the following - buy, sell."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sell_currency
        in: query
        description: Defines the currency sold in the currency exchange transaction.
          Three-letter ISO 4217 code in Uppercase.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Retrieve fixed daily rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
  /v1/issuing/bankaccounts:
    post:
      tags:
      - Issuing
      summary: Issue Virtual Account Number to Wallet
      description: Issue a virtual account number to an existing wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/issue-virtual-account-to-wallet.html
      operationId: createIssuing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/issuing_bankaccounts_body'
        required: true
      responses:
        "200":
          description: "Virtual Account,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/issuing/bankaccounts/bankaccounttransfertobankaccount:
    post:
      tags:
      - Issuing
      summary: Simulate a Bank Transfer to a Wallet
      description: Imulate a deposit to a virtual account number that was issued to
        a wallet. This method is relevant only for testing in the sandbox. The currency
        of the transfer must be supported by the specific virtual account. This method
        triggers the Deposit Completed webhook.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/simulate-a-bank-transfer-to-a-virtual-account.html
      operationId: simulateCompleteBankAccountIssuingTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bankaccounts_bankaccounttransfertobankaccount_body'
        required: true
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
        "400":
          description: bad input parameter
  /v1/issuing/bankaccounts/remitters/{virtualAccountId}/transactions/{transaction_id}:
    get:
      tags:
      - Issuing
      summary: Retrieve Remitter Details
      description: Retrieve the details of the remitter of a transfer to a virtual
        bank account.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-remitter-details.html
      operationId: getRemitterDetails
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the Virtual Account Number object. String starting with
          **issuing_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      - name: transaction_id
        in: path
        description: "ID of the transaction, as appears in the array of transactions\
          \ in the response to 'Retrieve Virtual Account History'."
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: isutran_59599bcba9ab9c79113f88cade1ed655
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/issuing/bankaccounts/{virtualAccountId}:
    get:
      tags:
      - Issuing
      summary: Retrieve Virtual Account History
      description: Retrieve a Virtual Account Number object for a wallet.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-virtual-account-history.html
      operationId: retrieveIssuingByRapydToken
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the Virtual Account Number object. String starting with
          **issuing_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      responses:
        "200":
          description: "Virtual Account,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
    post:
      tags:
      - Issuing
      description: Update Receiving Currency
      externalDocs:
        description: Learn more about details provided by this API
        url: TBD
      operationId: updateReceivingCurrency
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the Virtual Account Number object. String starting with
          **issuing_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bankaccounts_virtualAccountId_body'
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
  /v1/issuing/bankaccounts/{virtualAccountId}/transactions/{transactionId}:
    get:
      tags:
      - Issuing
      summary: Retrieve Virtual Account Transaction
      description: Retrieve a virtual account transaction.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-virtual-account-transaction.html
      operationId: retrieveIssuingTransaction
      parameters:
      - name: virtualAccountId
        in: path
        description: ID of the Virtual Account Number object. String starting with
          **issuing_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: issuing_16feaaa27c852f30214dd7b3b359e88c
      - name: transactionId
        in: path
        description: "ID of the transaction, as appears in the array of transactions\
          \ in the response to 'Retrieve Virtual Account History'."
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: isutran_59599bcba9ab9c79113f88cade1ed655
      responses:
        "200":
          description: "List Contacts for a Rapyd Wallet,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
        "400":
          description: bad input parameter
        "500":
          description: Internal server error.
  /v1/checkout/{checkout_token}:
    get:
      tags:
      - Checkout Page
      summary: Retrieve a checkout page.
      description: Retrieve a checkout page
      externalDocs:
        description: Learn more about customer operations provided by this API.
        url: https://docs.rapyd.net/en/retrieve-checkout-page.html
      operationId: getHostedPagePayment
      parameters:
      - name: checkout_token
        in: path
        description: ID of the checkout page. String starting with **checkout_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Retrieve a checkout page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
  /v1/checkout:
    post:
      tags:
      - Checkout Page
      summary: Create checkout page.
      description: Create a checkout page that makes a payment.
      externalDocs:
        description: API Reference
        url: https://docs.rapyd.net/en/create-checkout-page.html
      operationId: generateHostedPagePayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_checkout_body'
      responses:
        "200":
          description: Create a checkout page that makes a payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
  /v1/coupons:
    get:
      tags:
      - Coupon
      summary: Retrieve list of coupons
      description: Retrieve a list of all coupons.
      externalDocs:
        description: Retrieve a list of all coupons.
        url: https://docs.rapyd.net/en/list-coupons.html
      operationId: listCoupon
      parameters:
      - name: starting_after
        in: query
        description: The ID of the coupon created before the first coupon you want
          to retrieve.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the coupon created after the last coupon you want to       retrieve.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of coupons to return. Range is 1-100. Default
          is 10
        required: false
        style: form
        explode: true
        schema:
          pattern: "([1-9]|[1-9]\\d|100)"
          type: string
      responses:
        "200":
          description: List of coupons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_35'
    post:
      tags:
      - Coupon
      summary: Create new coupon
      description: create a coupon
      externalDocs:
        description: Create a coupon.
        url: https://docs.rapyd.net/en/create-coupon.html
      operationId: createCoupon
      requestBody:
        description: Coupon to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Coupon'
        required: true
      responses:
        "200":
          description: Coupon was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
  /v1/coupons/{couponId}:
    get:
      tags:
      - Coupon
      summary: Retrieve a coupon.
      description: Retrieve a coupon
      externalDocs:
        description: Learn more about coupon operations provided by this API.
        url: https://docs.rapyd.net/en/retrieve-coupon.html
      operationId: retrieveCoupon
      parameters:
      - name: couponId
        in: path
        description: coupon ID. String starting with **coupon_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Get Coupon details By coupon Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
    post:
      tags:
      - Coupon
      summary: Update a coupon.
      description: Modify the metadata of a coupon with a coupon ID in Path
      operationId: updateCoupon
      parameters:
      - name: couponId
        in: path
        description: coupon ID. String starting with **coupon_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Coupon to add.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Coupon'
        required: true
      responses:
        "200":
          description: Coupon was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
    delete:
      tags:
      - Coupon
      summary: Delete a coupon from the Rapyd platform.
      description: "Delete a coupon from the Rapyd platform. Deleting a coupon removes\
        \ it from all customers and subscriptions, but does not affect invoices and\
        \ payment authorizations that have already been calculated."
      operationId: deleteCoupon
      parameters:
      - name: couponId
        in: path
        description: Coupon ID. String starting with **coupon_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Coupon was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_37'
  /v1/customers:
    get:
      tags:
      - Customer
      summary: Retrieve list of customers
      description: Retrieve a list of all customers
      externalDocs:
        description: GET list of customers.
        url: https://docs.rapyd.net/en/list-customers-364253.html
      operationId: listCustomer
      parameters:
      - name: starting_after
        in: query
        description: The ID of the customer created before the first customer you
          want to retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the customer created after the last customer you want
          to retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of customers to return. Range is 1-100. Default
          is 10
        required: false
        style: form
        explode: true
        schema:
          pattern: "([1-9]|[1-9]\\d|100)"
          type: string
      responses:
        "200":
          description: get customers details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_38'
    post:
      tags:
      - Customer
      summary: Create a customer
      description: Adds a customer to the client.
      externalDocs:
        description: Learn more about customer operations provided by this API.
        url: https://docs.rapyd.net/en/create-customer.html
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_customers_body'
        required: true
      responses:
        "200":
          description: Customer was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "400":
          description: Bad Request. Address not found for provided ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_9'
  /v1/customers/{customerId}:
    get:
      tags:
      - Customer
      summary: Retrieve a customer details
      description: Retrieve a customer
      externalDocs:
        description: Learn more about Retrieve a customer details provided by this
          API
        url: https://docs.rapyd.net/en/retrieve-customer.html
      operationId: retrieveCustomer
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Customer details by customer ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "400":
          description: Bad Request. Customer not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_10'
    post:
      tags:
      - Customer
      summary: Update customer
      description: Update a customer with customer Id in Path
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/en/update-customer.html
      operationId: updateCustomer
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        "200":
          description: customer was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_11'
    delete:
      tags:
      - Customer
      summary: Delete a customer from the Rapyd platform
      description: This method triggers the Customer Deleted webhook. This webhook
        contains the same information as the response
      externalDocs:
        description: delete an existing customer
        url: https://docs.rapyd.net/en/delete-customer.html
      operationId: deleteCustomer
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: customer was deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_40'
        "400":
          description: "The request tried to delete a customer, but the operation\
            \ failed. Corrective action is to Determine whether the customer was alread\
            \ deleted, and why there were multiple requests to delete it."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_12'
  /v1/customers/discount/{discountId}:
    get:
      tags:
      - Customer
      summary: Retrieve a discount of customer.
      description: Retrieve a discount for a customer.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/retrieve-discount---customer.html
      operationId: getCustomerDiscountById
      parameters:
      - name: discountId
        in: path
        description: discount Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dis_d41d8cd98f00b204e9800998ecf8427e
      responses:
        "200":
          description: Get discount details of a customer by Discount Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_41'
  /v1/customers/{customerId}/discount:
    delete:
      tags:
      - Customer
      summary: Delete the discount that has been assigned to a customer
      description: Delete the discount that has been assigned to a customer through
        a coupon. This action does not affect the coupon that the discount was derived
        from. This method triggers the **Customer Discount Deleted** webhook.
      operationId: deleteCustomerDiscount
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: discount was deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_42'
  /v1/customers/{customerId}/payment_methods:
    get:
      tags:
      - Customer Payment Method
      summary: Retrieve payment methods for a customer
      description: Retrieve payment methods for a customer
      externalDocs:
        description: Learn more about Retrieve payment methods for a customer
        url: https://docs.rapyd.net/en/list-payment-methods-of-customer.html
      operationId: getCustomerPaymentMethods
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: category
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Category'
      - name: starting_after
        in: query
        description: The ID of the coupon created before the first coupon you want
          to retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the coupon created after the last coupon you want to
          retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of coupons to return. Range is 1-100. Default
          is 10
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: The type of payment method to find.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: get customer details By customer Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_43'
    post:
      tags:
      - Customer Payment Method
      summary: Add a payment method to a customer profile
      description: Add a payment method to a customer profile
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/en/add-payment-method-to-customer.html
      operationId: createCustomerPaymentMethod
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: customer to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customerId_payment_methods_body'
        required: true
      responses:
        "200":
          description: Payment method was created for this customer successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_13'
  /v1/customers/{customerId}/payment_methods/{pmtId}:
    get:
      tags:
      - Customer Payment Method
      summary: Retrieve a payment method for a specific customer
      description: Retrieve a payment method for a specific customer
      externalDocs:
        description: Learn more about Retrieve payment methods for a customer
        url: https://docs.rapyd.net/en/retrieve-payment-method.html
      operationId: getCustomerPaymentMethod
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pmtId
        in: path
        description: Pmt Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: get customer details By customer Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
        "400":
          description: bad input parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_14'
    post:
      tags:
      - Customer Payment Method
      summary: Update payment method for customer
      description: Change or modify a payment method that was stored in a customer
        profile
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/en/update-payment-method.html
      operationId: updateCustomerPaymentMethod
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pmtId
        in: path
        description: Pmt Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: customer to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPaymentMethod'
        required: true
      responses:
        "200":
          description: customer was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
        "400":
          description: bad input parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_14'
    delete:
      tags:
      - Customer Payment Method
      summary: Delete a payment method type from customer
      description: This method triggers the Webhook - Payment Method Canceled webhook.
        This webhook contains more information than the response.
      externalDocs:
        description: delete a payment method for customer
        url: https://docs.rapyd.net/en/delete-payment-method.html
      operationId: deleteCustomerPaymentMethod
      parameters:
      - name: customerId
        in: path
        description: customer Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pmtId
        in: path
        description: Pmt Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: payment method was deleted for this customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
        "400":
          description: Bad Request. Customer was not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_15'
  /v1/digital_wallets/session/apple_pay:
    post:
      tags:
      - Digital Wallet
      summary: Retrieve the details of an Apple Pay payment session.
      description: "Retrieve the details of an Apple Pay payment session. Each payment\
        \ that uses Apple Pay has a unique session.  [Activating Apple Pay](https://docs.rapyd.net/en/activating-apple-pay.html)\
        \ is a prerequisite."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-apple-pay-session.html
      operationId: getApplePaySession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayObject'
        required: true
      responses:
        "200":
          description: Apple Pay response fetched successfuly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
  /v1/disputes:
    get:
      tags:
      - Dispute
      summary: Retrieve list of disputes
      description: Retrieve a detailed list of 'dispute' objects.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-disputes.html
      operationId: getDisputesListByOrgId
      parameters:
      - name: starting_after
        in: query
        description: The ID of the dispute created before the first dispute you want
          to retrieve. String starting with dispute_.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: dispute_3e4862ba69665f04da530154f1019998
      - name: ending_before
        in: query
        description: The ID of the dispute created after the last dispute you want
          to retrieve. String starting with dispute_.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: dispute_3e4862ba69665f04da530154f1019998
      - name: limit
        in: query
        description: The maximum number of disputes to return. Range is 1-100. Default
          is 10.
        required: false
        style: form
        explode: true
        schema:
          pattern: "([1-9]|[1-9]\\d|100)"
          type: string
      - name: status
        in: query
        description: Filters the list for disputes with the specified dispute status.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ACT
          - RVW
          - PRA
          - ARB
          - LOS
          - WIN
          - REV
      - name: payment
        in: query
        description: The ID of the payment that is linked to the dispute. String starting
          with payment_.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: payment_ce936f36d93bc9307a3d
      responses:
        "200":
          description: disputes fetched successfuly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_47'
  /v1/disputes/{disputeId}:
    get:
      tags:
      - Dispute
      summary: Retrieve an dispute.
      description: Retrieve the details of a dispute.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-dispute.html
      operationId: getDispute
      parameters:
      - name: disputeId
        in: path
        description: ID of the dispute you want to retrieve. String starting with
          dispute_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: dispute_3e4862ba69665f04da530154f1019998
      responses:
        "200":
          description: Get dispute details by dispute ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_48'
  /v1/payments/{payment}/escrows/{escrow}/escrow_releases:
    get:
      tags:
      - Escrow
      summary: Retrieve a list of all releases of funds from a specified escrow.
      description: Retrieve a list of all releases of funds from a specified escrow.
      externalDocs:
        url: https://docs.rapyd.net/en/list-escrow-releases.html
      operationId: listEscrowReleases
      parameters:
      - name: payment
        in: path
        description: ID of the payment. String starting with **payment_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: escrow
        in: path
        description: ID of the escrow. String starting with **escrow_**.
        required: true
[...]
