openapi: 3.0.0
info:
  title: Rapyd API
  description: "This is a Beta release of the OpenAPI specification for Rapyd's API\
    \ methods. It is recommended to initially run the methods in the sandbox environment.\
    \ For the most up to date documentation of Rapyd's methods, see the [online API\
    \ Reference](https://docs.rapyd.net/en/index-en.html). <BR> For required signature,\
    \ see [Request Signatures](https://docs.rapyd.net/en/request-signatures.html)."
  contact:
    email: rapyd_support@rapyd.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.12
servers:
- url: https://sandboxapi.rapyd.net/
  description: Sandbox server
- url: https://api.rapyd.net/
  description: Production server
paths:
  /v1/payment_methods/countries/{countryId}:
    get:
      tags:
      - Payment Method Type
      summary: List Payment Methods by Country.
      description: Retrieve a list of all payment methods available for a country.
        You can filter the results by specifying the `currency` query parameter
      externalDocs:
        description: Learn more about operations provided by this API
        url: https://docs.rapyd.net/en/list-payment-methods-by-country.html
      operationId: getPaymentMethodsTypesByCountry
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: countryId
        in: path
        description: Two-letter ISO 3166-1 ALPHA-2 code for the country. Uppercase.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/Country_1'
      - name: currency
        in: query
        description: currency
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Currency_1'
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /v1/payment_methods/{pmtId}/required_fields:
    get:
      tags:
      - Payment Method Type
      summary: Get Payment Method Required Fields.
      description: Retrieve the required fields for a payment method. The fields are
        returned as a list of objects. The name of each field appears in the `name`
        field of the response.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/get-payment-method-required-fields.html
      operationId: getPaymentMethodTypeRequiredFields
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pmtId
        in: path
        description: Payment method type Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
  /v1/payments:
    get:
      tags:
      - Payment
      summary: List Payments
      description: Retrieve a list of all payments that you have created. Filter the
        list with query parameters.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-payments.html
      operationId: listPayments
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: created_after
        in: query
        description: The ID of the payment created before the first payment you want
          to retrieve. String starting with **payment_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: created_before
        in: query
        description: The ID of the payment created after the last payment you want
          to retrieve. String starting with **payment_**.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: customer
        in: query
        description: Filters the list for payments related to the specified customer.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Customer'
        example: cus_753511a533a727cf28509812b4683edd
      - name: destination_card
        in: query
        description: Filters the list for payments related to the specified destination
          card.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the payment created after the last payment you want
          to retrieve. String starting with payment_. Deprecated.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ewallet
        in: query
        description: Filters the list for payments related to the specified wallet.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: ewallet_61be0e6ad9f57121cff47a63902282ac
      - name: group
        in: query
        description: "When true, includes only group payments in the response. When\
          \ false, excludes group payments from the response. Default is false."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: invoice
        in: query
        description: Filters according to the invoice. String starting with invoice_.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "The maximum number of payments to return. Range, 1-100. Default\
          \ is 10."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 2
      - name: payment_method
        in: query
        description: Filters the list for payments related to the specified payment
          method.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: us_mastercard_card
      - name: order
        in: query
        description: Filters the list for payments related to the specified order.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: starting_after
        in: query
        description: The ID of a payment in the list. The list begins with the payment
          that was created next after the payment with this ID. Use this filter to
          get the next page of results. Relevant when ending_before is not used. String
          starting with payment_.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: subscription
        in: query
        description: Filters the list for payments related to the specified subscription.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: merchant_reference_id
        in: query
        description: Merchant-defined ID.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Payments Fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
    post:
      tags:
      - Payment
      summary: Create Payment
      description: Create a payment
      externalDocs:
        description: Learn more about customer operations provided by this API
        url: https://docs.rapyd.net/en/create-payment.html
      operationId: createPayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_payments_body'
        required: true
      responses:
        "200":
          description: Payment was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: bad input parameter
  /v1/payments/{paymentId}:
    get:
      tags:
      - Payment
      summary: Retrieve Payment
      description: Retrieve details of a payment
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-payment.html
      operationId: retrievePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with **payment_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_bebddc4b4139d5a0f13cdcd4046cf2c1
      responses:
        "200":
          description: Payment object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request. Payment not found for given ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    post:
      tags:
      - Payment
      summary: Update Payment
      description: Change or modify a payment when the status of the payment is ACT
        (active). You can update additional fields if they are listed under payment_options
        in the response from Get Payment Method Required Fields and is_updateable
        is set to true
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-payment.html
      operationId: updatePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with payment_.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_36724a4ea01b438fd24ac3ab00b29150
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payments_paymentId_body'
        required: true
      responses:
        "200":
          description: payment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
    delete:
      tags:
      - Payment
      summary: Cancel Payment
      description: "Cancel a payment where the status of the payment is ACT. Relevant\
        \ to payment methods where is_cancelable = true in the response to List Payment\
        \ Methods by Country. This method triggers the Payment Canceled webhook. This\
        \ webhook contains the same information as the response. NOTE: If the status\
        \ is CLO, use the Create Refund method."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/cancel-payment.html
      operationId: cancelPayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with payment_.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_548969fc5a0bf89da3cec70a1529338c
      responses:
        "200":
          description: payment canceled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
  /v1/payments/{paymentId}/capture:
    post:
      tags:
      - Payment
      summary: Capture Payment
      description: "Capture some or all of a card payment that was previously authorized\
        \ with `capture` set to **false**.<BR>This method changes the `payment` object\
        \ status to **CLO** and triggers 'Payment Captured Webhook'. This webhook\
        \ contains the same information as the response. This method also triggers\
        \ 'Payment Completed Webhook'. The capture operation is also known as clearing\
        \ or completion.<BR>The scope of the capture operation depends on the client's\
        \ pre-authorization permissions. To change these permissions, contact Rapyd\
        \ Client Support."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/capture-payment.html
      operationId: capturePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: ID of the payment. String starting with **payment_**.
        required: true
        style: simple
        explode: true
        schema:
          type: string
        example: payment_548969fc5a0bf89da3cec70a1529338c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentId_capture_body'
      responses:
        "200":
          description: payment captured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
  /v1/payments/completePayment:
    post:
      tags:
      - Payment
      summary: Complete Payment
      description: "To simulate the completion of a payment by the action of a third\
        \ party, use this method in the sandbox.<BR> This method changes the payment\
        \ status to **CLO** (closed), and applies to the **cash**, **bank_redirect**,\
        \ **bank_transfer**, or **ewallet** payment method types.<BR> This method\
        \ also returns the 'Payment Completed' Webhook. This webhook contains the\
        \ same information as the response.<BR> For a card payment:<BR> * Capture\
        \ after authorization only - Use 'Capture Payment'.<BR> * Simulate 3-D Secure\
        \ (3DS) verification - See Simulating 3DS Authentication.<BR> **Prerequisites**:<BR>\
        \ * Create Payment"
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/complete-payment-363014.html
      operationId: completePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payments_completePayment_body'
      responses:
        "200":
          description: payment completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
  /v1/checkout/{checkout_token}:
    get:
      tags:
      - Checkout Page
      summary: Retrieve checkout page
      description: Retrieve a checkout page.
      externalDocs:
        description: Learn more about customer operations provided by this API.
        url: https://docs.rapyd.net/en/retrieve-checkout-page.html
      operationId: getHostedPagePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: checkout_token
        in: path
        description: ID of the checkout page. String starting with **checkout_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Retrieved a checkout page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
  /v1/checkout:
    post:
      tags:
      - Checkout Page
      summary: Create checkout page
      description: Create a checkout page that makes a payment.
      externalDocs:
        description: API Reference
        url: https://docs.rapyd.net/en/create-checkout-page.html
      operationId: generateHostedPagePayment
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_checkout_body'
      responses:
        "200":
          description: Create a checkout page that makes a payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
  /v1/payments/subscriptions:
    get:
      tags:
      - Subscription
      summary: List Subscriptions
      description: Retrieve a list of subscriptions. You can filter the list with
        query parameters.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-subscriptions.html
      operationId: getSubscriptionList
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: billing
        in: query
        description: "Method of billing. One of the following, pay_automatically,\
          \ send_invoice."
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: pay_automatically
      - name: customer
        in: query
        description: ID of the customer. String starting with cus_
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: cus_494eae8b99f697107d7384
      - name: status
        in: query
        description: "Status of the subscription. One of the following, active, canceled,\
          \ trialing"
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 10
      - name: product
        in: query
        description: ID of a 'product' object. The product must have type set to service.
          String starting with product_. Filter for one product at a time.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: product_494eae8b99f697107d738
      - name: starting_after
        in: query
        description: The ID of a record in the list. The list begins with the record
          that was created next after the record with this ID. Use this filter to
          get the next page of results. Relevant when ending_before is not used.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: sub_8cc8c5a385732bb8bdd3e7b8e87985a0
      - name: ending_before
        in: query
        description: The ID of a record in the list. The list ends with the last record
          that was created before the record with this ID. Use this filter to get
          the previous page of results.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: sub_8cc8c5a385732bb8bdd3e7b8e87985a0
      - name: limit
        in: query
        description: "The maximum number of subscriptions to return. Range, 1-100.\
          \ Default is 10."
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 23
      responses:
        "200":
          description: "List of subscriptions,"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
    post:
      tags:
      - Subscription
      summary: Create Subscription
      description: "Create a subscription for regular, automatic payments."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-subscription.html
      operationId: createSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payments_subscriptions_body'
        required: true
      responses:
        "200":
          description: Create a subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
  /v1/payments/subscriptions/{subscriptionId}:
    get:
      tags:
      - Subscription
      summary: Retrieve Subscription
      description: Retrieve the details of a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-subscription.html
      operationId: getSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with sub_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: Get subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
    post:
      tags:
      - Subscription
      summary: Update Subscription
      description: Update the details of a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-subscription.html
      operationId: updateSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with **sub_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptions_subscriptionId_body'
        required: true
      responses:
        "200":
          description: The subscription after updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
    delete:
      tags:
      - Subscription
      summary: Cancel Subscription
      description: Cancel a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/cancel-subscription.html
      operationId: cancelSubscription
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with **sub_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: The canceled subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
  /v1/payments/subscriptions/{subscriptionId}/discount:
    delete:
      tags:
      - Subscription
      summary: Delete Discount from Subscription
      description: Delete the discount that was assigned to a subscription. This method
        does not affect the coupon that the discount was derived from.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/delete-discount-from-subscription.html
      operationId: deleteSubscriptionDiscount
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with **sub_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: discount was deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
  /v1/checkout/subscriptions:
    post:
      tags:
      - Subscription
      summary: Create Subscription by Hosted Page
      description: Create a subscription using a hosted page. Relevant to card payments.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/create-subscription-by-hosted-page.html
      operationId: createSubscriptionByHostedPage
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkout_subscriptions_body'
      responses:
        "200":
          description: Subscription hosted Page was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
  /v1/payments/subscriptions/{subscriptionId}/complete_cycle:
    post:
      tags:
      - Subscription
      summary: Complete a Cycle
      description: Cancel the subscription and create an invoice. This method is for
        testing purposes and runs only in the sandbox.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/subscription#complete-a-cycle
      operationId: completeSubscriptionCycle
      parameters:
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with sub_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: The subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
  /v1/payments/subscriptions/{subscriptionId}/start_new_cycle:
    post:
      tags:
      - Subscription
      summary: Start a New Cycle
      description: "End a subscription cycle, create an invoice and move the subscription\
        \ to the next cycle. This method is for testing purposes and runs only in\
        \ the sandbox."
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/build-with-rapyd/reference/subscription#start-a-new-cycle
      operationId: simulateStartNewCycle
      parameters:
      - name: subscriptionId
        in: path
        description: ID of the subscription. String starting with sub_.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sub_494eae8b99f697107d738
      responses:
        "200":
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
  /v1/plans:
    get:
      tags:
      - Subscription.Plan
      summary: List Plans
      description: Retrieve a list of all plans. Use the optional query parameters
        to filter the results. You can filter the results further by specifying one
        or more Plan fields as additional query parameters.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-plans.html
      operationId: listPlans
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the plan created after the last plan you want to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of plans to return. Range 1-100. Default is
          10.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 15
      - name: starting_after
        in: query
        description: The ID of the plan created before the first plan you want to
          retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 10
      responses:
        "200":
          description: List of plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
    post:
      tags:
      - Subscription.Plan
      summary: Create Plan Item
      description: Create a pricing plan for services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-plan.html
      operationId: createPlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_plans_body'
        required: true
      responses:
        "200":
          description: The created plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
  /v1/plans/{planId}:
    get:
      tags:
      - Subscription.Plan
      summary: Retrieve plan
      description: Retrieve the details of a pricing plan for services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-plan.html
      operationId: retrievePlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: planId
        in: path
        description: ID of the plan.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: plan_494eae8b99f697107d738
      responses:
        "200":
          description: The Plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
    post:
      tags:
      - Subscription.Plan
      summary: Update Plan
      description: Change or modify a pricing plan for services. You can update a
        plan's nickname or metadata.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-plan.html
      operationId: updatePlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: planId
        in: path
        description: ID of the plan.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: plan_494eae8b99f697107d738
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/plans_planId_body'
        required: true
      responses:
        "200":
          description: The Plan after updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
    delete:
      tags:
      - Subscription.Plan
      summary: Delete Plan
      description: Delete a pricing plan for services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-plan.html
      operationId: deletePlan
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: planId
        in: path
        description: ID of the plan.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: plan_494eae8b99f697107d738
      responses:
        "200":
          description: "Rapyd response with operation result, and plan id"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
  /v1/products:
    get:
      tags:
      - Subscription.Product
      summary: List Products
      description: Retrieve a list of all products.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-plans.html
      operationId: getProductsList
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the products created after the last product you want
          to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of products to return. Range 1-100. Default
          is 10.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 15
      - name: starting_after
        in: query
        description: The ID of the product created before the first products you want
          to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 10
      responses:
        "200":
          description: List of products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
    post:
      tags:
      - Subscription.Product
      summary: Create Product
      description: Create goods or services.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-product.html
      operationId: createProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_products_body'
        required: true
      responses:
        "200":
          description: The created Product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
  /v1/products/{productsId}:
    get:
      tags:
      - Subscription.Product
      summary: Retrieve Product
      description: Retrieve details of a product or service.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-product.html
      operationId: getProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: productsId
        in: path
        description: ID of the product.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: product_0d9dc6be69c769560fe913f3b086d8ca
      responses:
        "200":
          description: The Product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400_1'
    post:
      tags:
      - Subscription.Product
      summary: Update Product
      description: Change or modify a product or service.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-product.html
      operationId: updateProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: productsId
        in: path
        description: ID of the product.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: product_0d9dc6be69c769560fe913f3b086d8ca
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/products_productsId_body'
      responses:
        "200":
          description: The created Product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
    delete:
      tags:
      - Subscription.Product
      summary: Delete Product
      description: Delete a product or service from the Rapyd platform. This action
        also deletes all associated plans.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-product.html
      operationId: deleteProduct
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: productsId
        in: path
        description: ID of the product.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: product_0d9dc6be69c769560fe913f3b086d8ca
      responses:
        "200":
          description: "Rapyd response with operation result, and product id"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
  /v1/subscription_items:
    get:
      tags:
      - Subscription.Subscription Item
      summary: List Subscription Items
      description: Retrieve a list of all subscription items for a subscription.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-subscription-items.html
      operationId: listSubscriptionItem
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: ending_before
        in: query
        description: The ID of the subscription item created after the last subscription
          item you want to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: number
      - name: limit
        in: query
        description: The maximum number of subscription items to return. Range 1-100.
          Default is 10.
        required: false
        style: form
        explode: false
        schema:
          type: number
        example: 15
      - name: starting_after
        in: query
        description: The ID of the subscription item created before the first subscription
          item you want to retrieve.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: 10
      - name: subscription
        in: query
        description: ID of the subscription.
        required: false
        style: form
        explode: false
        schema:
          type: string
        example: sub_0de9c79c1e2beee09499dc8220493d59
      responses:
        "200":
          description: List of subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
    post:
      tags:
      - Subscription.Subscription Item
      summary: Create Subscription Item
      description: Create a subscription item and add it to an existing subscription
        for recurring payment.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-subscription-item.html
      operationId: createSubscriptionItem
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1_subscription_items_body'
        required: true
      responses:
        "200":
          description: The created subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
  /v1/subscription_items/{subscriptionItemId}:
    get:
      tags:
      - Subscription.Subscription Item
      summary: Retrieve Subscription Item
      description: Retrieve the details of a subscription item.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/retrieve-subscription-item.html
      operationId: retrieveSubscriptionItem
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionItemId
        in: path
        description: ID of the subscription item. String starting with **subi_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: The created subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
    post:
      tags:
      - Subscription.Subscription Item
      summary: Update Subscription Item
      description: Change or modify a subscription item.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/update-subscription-item.html
      operationId: updateSubscriptionItem
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionItemId
        in: path
        description: ID of the subscription item. String starting with **subi_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription_items_subscriptionItemId_body'
        required: true
      responses:
        "200":
          description: The created subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
    delete:
      tags:
      - Subscription.Subscription Item
      summary: Delete Subscription Item
      description: Delete a subscription item from the Rapyd platform.
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/delete-subscription-item.html
      operationId: deleteSubscriptionItem
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionItemId
        in: path
        description: ID of the subscription item. String starting with **subi_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: The created subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
  /v1/subscription_items/{subscriptionItemId}/usage_record_summaries:
    get:
      tags:
      - Subscription.Subscription Item
      summary: Create Usage Record
      description: Retrieve a list of usage records for a subscription item
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/list-usage-records.html#list-usage-records
      operationId: usageRecordSummaries
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionItemId
        in: path
        description: ID of the subscription item. String starting with **subi_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: subi_3682d7bce9339f7b7c9e4185c7d1486f
      - name: limit
        in: query
        description: The maximum number of usage records that are returned. Range
          is 1-100. Default is 10.
        required: false
        style: form
        explode: true
        schema:
          type: number
        example: 15
      - name: ending_before
        in: query
        description: The latest date and time of the returned usage records. Format
          is in Unix time.
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: starting_after
        in: query
        description: The earliest date and time of the returned usage records. Format
          is in Unix time.
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: The subscription after updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
  /v1/subscription_items/{subscriptionItemId}/usage_records:
    post:
      tags:
      - Subscription.Subscription Item
      summary: Create Usage Record
      description: Create a usage record or update an existing usage record where
        its unique identifier is composed of timestamp and subscription_item
      externalDocs:
        description: Learn more about details provided by this API
        url: https://docs.rapyd.net/en/create-usage-record.html
      operationId: createSubscriptionItemUsageRecord
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriptionItemId
        in: path
        description: ID of the subscription item. String starting with **subi_**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: subi_3682d7bce9339f7b7c9e4185c7d1486f
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriptionItemId_usage_records_body'
        required: true
      responses:
        "200":
          description: The subscription after updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
  /v1/subscriptions/discount/{discountId}:
    get:
      tags:
      - Subscription
      summary: Retrieve a discount of subscription.
      description: Retrieve a discount for a subscription.
      externalDocs:
        description: Learn more about discount operations provided by this API
        url: https://docs.rapyd.net/en/retrieve-discount---subscription.html
      operationId: getSubscriptionDiscountById
      parameters:
      - name: access_key
        in: header
        description: Unique access key provided by Rapyd for each authorized user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: Indicates that the data appears in JSON format. Set to **application/json**.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idempotency
        in: header
        description: A unique key that prevents the platform from creating the same
          object twice.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: salt
        in: header
        description: "Random string. Recommended length: 8-16 characters."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature
        in: header
        description: "Signature calculated for each request individually. See [Request\
          \ Signatures](https://docs.rapyd.net/en/request-signatures.html)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: timestamp
        in: header
        description: "Timestamp for the request, in Unix time (seconds)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: discountId
        in: path
        description: discount Id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Get discount details of a subscription by Discount Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
  /v1/invoices:
    get:
      tags:
      - Subscription.Invoice
      summary: List Invoices
      description: "Retrieve the basic data of an invoice, with individual invoice\
        \ lines."
      externalDocs:
[...]
